[2016-05-03 18:39] analogrelay opened #535 "Update tools dependencies"
In the `project.json` file, remove the existing entries for `Microsoft.Extensions.CodeGenerators.Mvc` and `Microsoft.EntityFrameworkCore.Commands` and replace them with:

[code]

Note:
- `Microsoft.EntityFrameworkCore.Commands` has been renamed to `Microsoft.EntityFrameworkCore.Tools` (/cc @natemcmaster)
- The `type` of both dependencies has changed to `build`.

Changing the types of these depende

[2016-05-03 18:40] natemcmaster commented on #535
Btw, all those "dotnet-*" packages have been renamed. "dotnet-ef" was merged into Ms.EfCore.Tools.

[2016-05-03 18:43] phenning commented on #535
#534 has most of this information. Also, we've already decided to keep the tools sorted with the rest of the packages.

[2016-05-03 18:44] analogrelay commented on #535
Ok, as long as we've got both the tools rename and the "type:build" changed captured somewhere, we're good :).

[2016-05-03 22:32] Tratcher opened #537 "Windows auth templates don't need the self-host option"
The combination of Windows Auth and self-host launch settings does not currently make sense because Kestrel does not support windows auth. Consider not providing self-host launch settings by default for windows auth scenarios.

This may someday make sense when we add WebListener.

[2016-05-04 14:48] rustd commented on #537
@Tratcher  In this case launch settings would be a no-op then correct?

[2016-05-04 14:52] Tratcher commented on #537
No, I'm suggesting not having the self-host profile at all for these scenarios.

[2016-05-04 14:56] rustd commented on #537
yes i get that, but wanted to check if having them there breaks anything?

[2016-05-04 14:57] rustd commented on #535
So there is no work remaining. Closing this out. @anurse feel free to open this if there is anything remaining.

[2016-05-04 16:19] Tratcher commented on #537
For WebApp you just get a strange `Hello, !` in the corner where it tries to display the logged in user.

For WebApi it throws:

[code]

[2016-05-04 16:25] sayedihashimi commented on #517
Right. You're running into some of the same issues that we are. That's why I'm working to improve that.

@thecodejunkie I'm not aware of any significant changes to the current supported model for creating templates. This is not the right repo for feedback on the all up VS template experience. Here we're just covering ASP.NET/.NET Core templates. To make suggestions for VS all up you can file a new

[2016-05-04 16:53] rustd commented on #537
ah. we need to fix this. @phenning assigning to you for RC2

[2016-05-04 16:56] analogrelay commented on #535
No, there's still work to do. The changes to convert the dependencies referenced above to be `type: build` have not been done yet.

[2016-05-04 17:05] sebastienros opened #538 "Wrong splash screen for ASP.NET Core Web Site - Empty"
Actual result:

![image](https://cloud.githubusercontent.com/assets/1165805/15022270/b38a5d68-11df-11e6-9760-8988e32f4fc3.png)

Where it actually is a middleware based app, without views and and without Gulp/Bower files.

[2016-05-04 17:08] rustd commented on #535
Thanks! @phenning assigning to you.

[2016-05-04 17:20] phenning commented on #535
Committed now

[2016-05-04 17:20] #535 closed, assigned to nobody

[2016-05-04 17:20] phenning commented on #535
aa31cb93ac1a39bd82d0c839eaa6e1d678202b65

[2016-05-04 17:21] phenning commented on #534
aa31cb93ac1a39bd82d0c839eaa6e1d678202b65

[2016-05-04 17:21] #534 closed, assigned to nobody

[2016-05-04 17:21] phenning commented on #533
aa31cb93ac1a39bd82d0c839eaa6e1d678202b65
14824f6d315d5a6bfdf52847aba38bd3907d127a
53b562ef3fea0c919e2dcedac8bebc8b27b00ae4

[2016-05-04 17:21] #533 closed, assigned to nobody

[2016-05-04 17:25] phenning commented on #537
TFS 218918

[2016-05-04 18:31] phenning commented on #537
ffebd228dcfebdc4020d5da9282b6b25666ed03c

[2016-05-04 18:31] #537 closed, assigned to nobody

[2016-05-04 20:20] phenning commented on #378
Updated migrations b10caa8719d3dbab88db8ce974a6c5f7233acdfd

Minimal update. This should be final update for RC2

[2016-05-04 20:26] peterblazejewicz commented on #538
@sebastienros
At the moment the VS team provides an unified starter noob document. They are seeing the problem with that model though:
https://github.com/aspnet/Templates/issues/498

[2016-05-04 20:32] peterblazejewicz commented on #528
There is one in OmniSharp/generator-aspnet for the very same purpose: `yo aspnet:nuget` or `yo aspnet:nuget --unstable` when working with prerelease content (e.g. with RC2)

[2016-05-04 21:44] analogrelay opened #540 "Update the Startup.cs to have a placeholder for external auth"
Right now the Startup.cs has a line like this:

[code]

It's not clear that the middleware configuration should go there, and not elsewhere in the file. This isn't helped by the docs not being super clear (https://github.com/aspnet/Docs/issues/1187) but our templates could improve this as well but indicating that external auth middleware should go there.

[code]

[2016-05-04 23:00] rustd commented on #540
Let's combine them as a single comment as follows.
// Add external authentication middleware below. To configure them please see http://go.microsoft.com/fwlink/?LinkID=532715

[2016-05-05 07:47] damienbod opened #541 "Need an Angular2 SPA template"
VS should provide a template for Angular 2 (RC onwards) with an ASP.NET Core MVC API
- includes a systemjs build for production and dev (Webpack as an option)
- Breakpoint debugging possible in VS for Angular 2
- Implicit Flow OpenID Connect client as an option

[2016-05-05 16:36] phenning commented on #541
/cc: @madskristensen

[2016-05-05 20:33] phenning commented on #540
TFS: [219293](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?_a=edit&id=219293)

[2016-05-06 01:59] scottaddie opened #543 "DnxInvisibleContent item type name change"
Now that DNX is gone as of RC2, are there plans to rename the `.xproj` file's `DnxInvisibleContent` item type to something more meaningful? Here's specifically what I'm talking about in the "StarterWeb" project template:
https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/StarterWeb.xproj#L19-22

[2016-05-06 17:05] rynowak opened #544 "Move NetCoreApp Dependency into tfm-specific dependendencies"
The project.json created by VS includes the following in the top-level dependencies node.

[code]

This is annoying if you want to add another TFM because this dependency only works on netcoreapp. Also, the error you get if you add `net46` refers to `System.Runtime.Loader` as incompatible with that framework. Hard to puzzle out since you don't have a direct reference to `System.Runtime.Loader`.

I

[2016-05-06 18:32] rustd commented on #544
What would the project.json look like?

[2016-05-06 18:44] rynowak commented on #544
https://github.com/rynowak/mvc-sandbox/blob/rc2-signoff-diagnostics/WebApp/project.json

[2016-05-06 19:37] rustd opened #545 "Duplicate entry in project.json for Individual Auth template"
Following package appears twice. I had the AI option checked.
    "Microsoft.Extensions.CodeGenerators.Mvc": "1.0.0-rc2-20801",

[2016-05-06 19:48] rustd opened #546 "WebApp With ApplicationInsights does not work"
It fails with the following 2 errors

The type or namespace name 'OptionsModel' does not exist in the namespace 'Microsoft.Extensions' (are you missing an assembly reference?)
@using Microsoft.Extensions.OptionsModel

An error occurred during the compilation of a resource required to process this request. Please review the following specific error details and modify your source code appropriately.

[2016-05-06 20:03] phenning commented on #545
TFS: [219705](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?_a=edit&id=219705)

[2016-05-06 20:16] lajones opened #548 "Should be buildOptions in template, not compilationOptions"
VS build 14.0.25123.00 Update 2
ASP.NET and Web Tools 2015.1 (RC2) 14.1.20425.0

File | New | Project
Select Visual C# | .NET Core | Console Application (.NET Core)
Open up project.json

I see the project.json included below. `compilationOptions` is underlined in green and when I hover over it it says "The compilationOptions option is deprecated. Please use buildOptions instead."

It still builds

[2016-05-06 20:33] phenning commented on #548
Fixed with latest templates.

[2016-05-06 20:33] #548 closed, assigned to nobody

[2016-05-06 22:37] rustd commented on #546
This is with the 118 bundle build

[2016-05-06 22:39] rustd commented on #544
@anurse to check why we added it in the dependencies section?

[2016-05-06 22:49] phenning commented on #545
a48d453c3d0c264894024370cc9f20d34f6f709b

[2016-05-06 22:49] #545 closed, assigned to nobody

[2016-05-07 02:15] scottaddie commented on #541
@damienbod It sounds like Steve Sanderson may already be working on something related to this. Read more [here](http://blog.stevensanderson.com/2016/05/02/angular2-react-knockout-apps-on-aspnet-core/).

[2016-05-07 18:19] damienbod commented on #541
Hi @scottaddie Thanks for the link, looks promising.
Greetings Damien

[2016-05-07 22:45] sayedihashimi opened #549 "Update template dependencies"
I looked through the dependencies of the current templates and some of them look out of date. I created a new wiki page to help us keep track of this easier https://github.com/aspnet/Templates/wiki/Template-dependencies.

For the final release if possible we should get the latest versions of all packages.

[2016-05-08 12:50] peterblazejewicz opened #550 "Update rendering of the "name" field in bower.json files"
Updated Bower renders now warnings when a name field is not _safe_ name, including lower case enforcement. This was wrongly implemented in Bower < 1.7.9 as an error, not as the warning, so users could hit a problem.
I think the VS templates use a hardcoded key(?), which will cause a warning in Bower 1.7.9:

https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/bower.json#L2
htt

[2016-05-09 16:32] SteveSandersonMS opened #551 "UX issues related to Identity"
It's debatable to what extent any of these are "bugs", since the template is just a starting point and not meant to be a finished, polished app. But many of them can be fixed easily.
1. **Default "External Logins" UX is confusing**

   It says "External logins: 0 [Manage]". When you click 'Manage', it takes you to a blank page (there's just a heading - no content). What's an end user supposed to d

[2016-05-09 16:51] SteveSandersonMS opened #552 "2FA functionality gaps"
While the default templates 2FA setup is reasonably comprehensive, there are a couple of bits of functionality that you'd typically expect to see but aren't present here:
- **Recovery codes**

  Since the default template doesn't include any kind of "recovery codes" feature, it's quite a risk for a user to enable 2FA. If they lose access to their phone service, they lose their account too. (Actual

[2016-05-09 17:10] analogrelay commented on #544
Not sure. It would probably be better to put it in the framework-specific dependencies section.

[2016-05-09 17:17] SteveSandersonMS opened #553 "Commented-out code in Manage/Index.cshtml has errors"
Line 47:

[code]

This is missing the closing `</text>` node, so it will cause an error once you uncomment it.

Also it's inconsistent with the docs at http://docs.asp.net/en/latest/security/authentication/2fa.html, which show the surrounding block enclosed in square-bracket chars, whereas the actual code in the file doesn't have those chars - instead it has the CSS class `btn-bracketed` on the `<

[2016-05-09 18:42] peterblazejewicz commented on #553
Steve,
I've been a spirit behind the change. The idea was to simplify markup (a lot) by removing both `<text></text>` wherever possible (it appeared <text> are removed completely from the source after the fix) and to remove a noice from markup, those brackets and hardcoded spaces  - to have clean, html markup and only custom tag that are based on TagHelpers (ScriptTagHelper/EnvironmentTagHelper, e

[2016-05-09 19:29] peterblazejewicz commented on #551
To help to visualize that problem: here is a pen: http://codepen.io/blazejewicz/full/972a6dae4af0b0fe5d22421535130635/ that uses static markup to provide insight on current markup:
If/else are removed and their relevant content is rendered. remark: The `Two-Form Authentication` is cropped by default BS rendering for data list titles (nowrap, ellipsis)

[2016-05-09 20:07] rustd commented on #552
@SteveSandersonMS Thanks for the feedback. This would be best covered through a doc or maybe a sample from the Identity team which covers all the scenarios possible. I am moving this to the Identity repo for the team to triage.
https://github.com/aspnet/Identity/issues/818 is tracking this

[2016-05-09 20:07] #552 closed, assigned to nobody

[2016-05-09 20:13] rustd commented on #551
Thank you for the feedback. #6 is by design.  If you have a suggestion for fixing #2 then please do send a PR for it.
I agree that we can improve upon the rest.

[2016-05-09 20:14] rustd commented on #544
@DamianEdwards @davidfowl what do you think? should we move Microsoft.NETCore.App in framework dependencies? What should we do for RC2?

[2016-05-09 20:17] DamianEdwards commented on #544
Yeah we should do that. Assuming we have another tooling build scheduled already, let's get this change into the templates for RC2. @rynowak & @anurse do either of you predict any risk in doing this?

[2016-05-09 20:26] rynowak commented on #544
@anurse would know better than I, I'm just here to throw things :laughing:

Based on my limited experience this change would have no semantic impact on the content of the project.json as configured in the template, and would just make it easier to maintain.

[2016-05-09 20:28] #553 closed, assigned to nobody

[2016-05-09 20:37] rustd commented on #544
Assigning to Phil. @anurse please comment on the risk of this change?

[2016-05-09 20:38] phenning commented on #546
TFS: [220097](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems/edit/220097)

[2016-05-09 20:41] rustd commented on #550
@madskristensen critical for RC2?

[2016-05-09 20:42] madskristensen commented on #550
Not critical for RC2, but it is a super low risk change so we might consider doing it for RC2 based on that

[2016-05-09 20:45] kichalla opened #556 "Add 'dotnet watch' tool to templates by default"
During development I typically use Kestrel so that I can see the log output (I know I could use Debug logger but I do not want to use the Debug mode though). I would like to have the similar experience of IIS Express regarding making a modification and see it take affect immediately. Can we add the `dotnet watch` tool by default to our templates?

@victorhurdugaci

[2016-05-09 20:49] rustd commented on #550
What would the value of name be?

[2016-05-09 20:54] phenning commented on #544
TFS: [220101](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=220101&_a=edit)

[2016-05-09 21:05] madskristensen commented on #550
The same as in package.json which is "asp.net" I believe

[2016-05-09 21:24] rustd commented on #550
Yes. Phil, please do a bar check. This is a low risk change so it should be fine.

[2016-05-09 21:28] phenning commented on #550
TFS: [220129](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=220129&_a=edit)

[2016-05-09 21:39] analogrelay commented on #544
No risk that I'm aware of

[2016-05-09 22:50] kevinchalet commented on #544
On a related note, should `"Microsoft.NETCore.Platforms" : "1.0.1-*"` be added in the global dependencies?

https://github.com/dotnet/cli/issues/2956#issuecomment-217951884

[2016-05-10 16:20] phenning commented on #544
@moozzyk, @anurse, @DamianEdwards, should we add Microsoft.NETCore.Platforms as a base dependency or as a netxxx dependency only as mentioned in the above referenced issue?

[2016-05-10 16:26] phenning commented on #544
Another question, should we also move this for console/class libs as well?

//cc: @Pilchie

[2016-05-10 16:38] analogrelay commented on #544
Yes.

Maybe not the global dependencies (though it wouldn't really do any harm). It certainly should be in the `net4X` target.

[2016-05-10 16:39] davidfowl commented on #544
Microsoft.NETCore.Platforms should be removed for RTM. It will be a dependency for packages that need it.

[2016-05-10 16:41] analogrelay commented on #544
Agree, but for RC2?

[2016-05-10 16:42] phenning commented on #544
If we're going to have this for Console/Class, shouldn't this also be in the dotnet new version of those templates as well?

[2016-05-10 16:43] analogrelay commented on #544
ugh, yeah probably... I don't think we're going to get that change in though. I think we just have to live with the mild inconsistency. AFAIK, `dotnet new` only creates `netcoreapp1.0` projects, so it's not **that** inconsistent.

[2016-05-10 16:44] phenning commented on #544
@anurse, I was thinking the same thing, but wanted to bring it up

[2016-05-10 16:45] rustd commented on #544
@cartermp can you please track this change for dot net new. I am not sure what repo tracks that work

[2016-05-10 16:50] analogrelay commented on #544
dotnet/cli, as with anything starting `dotnet.exe` :)

[2016-05-10 17:33] barrytang commented on #544
I am hearing that we shouldn't take this for RC2 for VS. Let me know otherwise.

[2016-05-10 18:08] mikeharder opened #558 "Web Application template should fallback to in-memory provider if SQL is not available"
Currently, the Web Application template fails if SQL is not available.  This will most likely happen on non-Windows platforms, but could also happen on Windows if SQL LocalDB is uninstalled.

I think the template should fallback to the in-memory provider if SQL is not available.

[2016-05-10 18:27] #546 closed, assigned to nobody

[2016-05-10 18:28] #550 closed, assigned to nobody

[2016-05-10 18:29] peterblazejewicz commented on #558
Somehow related is: https://github.com/aspnet/Templates/issues/422 discussing UI for templates option (correct configuration for new project can be crucial in context of this issue)

[2016-05-10 18:35] peterblazejewicz commented on #550
Thanks!

[2016-05-10 18:45] rustd commented on #558
The One ASP.NET UI is being redesigned for RTM to make this option more clear. Templates also represent real world apps so falling back to In-Memory won't be a good idea since in-memory is for testing.
Today, if you are creating ASP.NET apps on non-windows platforms, then you can use yeoman generators for ASP.NET.

[2016-05-10 18:56] mikeharder commented on #558
It appears my feedback is already included in #422.  I see a checkbox "enable for cross-platform development".  Feel free to resolve this as a dup of #422, unless you want to track it separately.

[2016-05-10 20:17] Rick-Anderson opened #559 "New template: For more information on enabling MVC for empty projects, visit <not helpful>"
To repro the problem: (copy/paste of instructions from https://docs.asp.net/en/latest/tutorials/first-mvc-app/adding-view.html )

Right click on the Views/HelloWorld folder, and then Add > New Item.
In the Add New Item - MvcMovie dialog

In the search box in the upper-right, enter view
Tap MVC View Page
In the Name box, keep the default Index.cshtml
Tap Add

The new view has the following content:

[2016-05-10 20:23] glennc opened #560 "Error page talks about 'development mode'"
The error page that we have in the current template tells people that they can get more details by switching into `development mode`.

What was the reasoning for adding this text? It has already started to cause some internal people to hit errors, and it doesn't seem like the right thing to have here. I would expect the error page to be the sort of thing I would be happy to leave in all the way to

[2016-05-10 21:48] phenning commented on #560
Motivation is here:  #351

[2016-05-10 22:26] balachir commented on #559
Agree, at the very least, we should fix the fwlink to point to the correct documentation. I had previously opened bug 153492 in TFS for this same issue as well.

[2016-05-10 23:08] glennc commented on #560
@rowanmiller Can we chat about this when you get a chance?

[2016-05-10 23:11] rustd commented on #558
Duplicate of #422

[2016-05-10 23:11] #558 closed, assigned to nobody

[2016-05-11 05:23] rowanmiller commented on #560
@glennc yep, lets chat tomorrow. The main problem is that if you aren't using VS then it's really hard to discover how to get meaningful errors out of your app. @coolcsh hit this prepping for a demo, which is where the idea of adding the text came from.

[2016-05-11 16:52] rustd commented on #526
@phenning please remove the try-catch and the comment above it as well.

[2016-05-11 17:28] phenning commented on #526
TFS: [220760](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=220760&_a=edit)

[2016-05-11 17:36] rustd commented on #559
Updating the landing page to https://docs.asp.net/en/latest/tutorials/first-mvc-app/adding-view.html

[2016-05-11 17:36] #559 closed, assigned to nobody

[2016-05-11 18:02] rustd commented on #544
Moving to RTM

[2016-05-11 18:23] #540 closed, assigned to nobody

[2016-05-11 18:24] #526 closed, assigned to nobody

[2016-05-11 18:52] peterblazejewicz commented on #526
@rowanmiller @rustd we need a scenario for non-VS tooling scaffolding. I'm applying #562 to OmniSharp/generator-aspnet web project and it needs a data scaffolding. Let me know what you think.
Thanks!

[2016-05-11 18:55] rustd commented on #526
This code was only needed for server-side production scenarios. At dev time, you will get a Database error page which is same as VS. I am going to upload latest templates for RC2 which will have these changes.

[2016-05-11 18:56] peterblazejewicz commented on #526
OK. Thanks!

[2016-05-12 01:18] dougbu opened #563 "Remove unused `Microsoft.IdentityModel.Protocols.OpenIdConnect` using statement from Work and School templates"
Bad enough that most of the C# files in this template have unnecessary `using`s but why does the `Startup` class use `Microsoft.IdentityModel.Protocols.OpenIdConnect`? The `UseOpenIdConnectAuthentication()` extension isn't in that namespace and that looks like all that's used here.

Of course, close this as a dupe if a general `Remove and Sort Usings` is already planned.

[2016-05-12 01:56] phenning commented on #563
We should remove the Microsoft.IdentityModel.Protocols.OpenIdConnect using statement.

Do you see any other "unused" namespaces other then the following? We include these in all template files as a matter of course in all CS files.

[code]

[2016-05-12 03:28] dougbu commented on #563
Why is this "a matter of course"? Unused means unnecessary here.

The first thing VS does if you open one of these files is offer to remove unused `using`s. Right-thinking editors like VS Code go further and include unused `using`s in the warnings it displays. And IntelliSense will add anything that's needed right back -- if that ever happens.

![usings](https://cloud.githubusercontent.com/assets/

[2016-05-12 04:15] phenning commented on #563
My understanding is that the reason we want those particular namespaces in there for discoverability and as a convenience for those common namespaces which customers would most likely use when expanding the template content. We actually have an explicit build step to enforce that these namespaces are present and in order.

In any event, removing anything other then the OpenIdConnect namespace woul

[2016-05-12 04:18] phenning opened #564 "Update OIDC dependency to 1.0.0 in templates"
We currently are using 0.1.0

https://github.com/aspnet/Security/pull/811#issuecomment-218650015

[2016-05-12 04:20] phenning commented on #564
Need to fix this or else we get a squiggle in the project.json

[2016-05-12 04:21] phenning commented on #564
TFS [220976](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=220976&_a=edit)

[2016-05-12 04:32] phenning commented on #563
TFS [220979](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=220979&_a=edit)

[2016-05-12 04:34] phenning opened #565 "Consider removing unused namespaces in template files"
Specifically:

System
System.Linq
System.Collections.Generic
System.Threading.Tasks

[2016-05-12 04:35] phenning commented on #565
@DamianEdwards @rustd @Eilon

[2016-05-12 04:35] phenning commented on #565
Issue brought up here:
https://github.com/aspnet/Templates/issues/563

[2016-05-12 04:37] phenning commented on #565
/cc @barrytang @mlorbetske @sayedihashimi

[2016-05-12 04:43] Eilon commented on #565
This is 100% by design, please do not change this.

[2016-05-12 04:44] Eilon commented on #565
(And it's by design for the reason you mentioned in the other bug.)

[2016-05-12 11:16] locdognec opened #567 "Unable to build"
When i run the build.cmd i got this error. Can you help ?
C:\Users\user\Downloads\Templates-dev\src\BaseTemplates\BaseProjectTemplates.csproj(118,5): error : Last line in a
file must be a non-blank line terminated with \r\n: BaseProjectTemplates.csproj line 150, '</Project>'
C:\Users\user\Downloads\Templates-dev\src\BaseTemplates\BaseProjectTemplates.csproj(118,5): error : Last line in a
file must

[2016-05-12 15:56] rustd commented on #565
This is by design. Please don't change this. Closing this.

[2016-05-12 15:56] #565 closed, assigned to nobody

[2016-05-12 16:59] dougbu commented on #565
Discussed this issue offline w/ @Eilon. Filed OmniSharp/omnisharp-vscode#315, "VS Code extension: Do not warn about unused `using`s".

Side note: My concern was specific to project templates. But I understand doing one thing everywhere.

[2016-05-12 17:58] #564 closed, assigned to nobody

[2016-05-12 21:59] phenning commented on #567
Interesting, it looks like when you download the repo as a zip either the zip process or unzip process is causing the CR+LF to be converted to LF in the source files.

You can work around this for now by cloning the repo and working with it directly. I'll see what I can do to add a parameter to disable that validation step as a more permanent workaround

[2016-05-12 23:54] phenning commented on #378
Verified final rc2 build had migrations up to date.

[2016-05-12 23:54] #378 closed, assigned to nobody

[2016-05-13 13:07] locdognec commented on #567
Thanks, that worked fine. After the temples are created i copy them to VS but when i try to create a new project i got this error
![capture](https://cloud.githubusercontent.com/assets/19325273/15248802/d0f45b28-1924-11e6-81f5-32fb75c59104.PNG)

[2016-05-13 14:17] phenning commented on #567
You don't have the latest VS tooling.

This repo is used for development of in-flight releases, so there is occasionally lag time between the tooling releases and what is present in the repository.

Also keep in mind from https://github.com/aspnet/Templates/wiki/Building-and-Running:

You can however run the samples by running **dotnet run** from the command line in the sample's intermediate\test

[2016-05-13 16:49] rustd opened #569 "AI+ Work & School Account + SSO (no Read/Write) broken"
With bundle 128
Create a Web App template with Work & School Account and you get the following error:
The project fails at runtime with a runtime exception.

![orgauthsso](https://cloud.githubusercontent.com/assets/1132652/15255284/f0edcd68-18ef-11e6-9b7d-434d953c9d55.PNG)

[2016-05-13 16:52] phenning commented on #569
Templates.xml is wrong.

[2016-05-13 16:53] rustd commented on #569
@phenning can you please open a TFS bug for triage. I think we should fix it because this is broken right now

[2016-05-13 16:57] phenning commented on #569
TFS: [221575](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=221575&_a=edit)

[2016-05-14 19:30] peterblazejewicz commented on #526
By default env is production. No one will ever see error details I'm afraid and get stacked  into middle of reading docs.asp.net tutorial
https://github.com/OmniSharp/generator-aspnet/issues/713

[2016-05-14 23:33] rustd commented on #526
You need to set the env to development.

[2016-05-15 00:02] rowanmiller commented on #526
There should be details about how to enable development environment on the error page you get if you aren't running in development environment. Though there is some discussion about removing that text (cc @glennc).

[2016-05-15 07:30] peterblazejewicz commented on #526
Thanks folks!. Yes, I know this and this works. I'll move discussion to `generator-aspnet` as it needs to reflect tooling configuration changes required to accommodate to this.

[2016-05-16 19:05] locdognec commented on #567
any idea when VS15 will support the new release?

[2016-05-16 19:26] phenning commented on #567
@locdognec, You can find download links via the following announcement: https://blogs.msdn.microsoft.com/webdev/2016/05/16/announcing-asp-net-core-rc2/

[2016-05-16 22:52] balachir opened #571 "ASP.NET templates do not appear together in the New Project dialog - Visual C# node"
VS 2015 U2 + DotNetCore RC2 Tooling Preview1
1. File > New Project

ACTUAL
At first glance, it appears that only the "ASP.NET Web Application (.NET Framework)" template is there in the list. I can see "Class Library (.NET Core)" and "Console Application (.NET Core)".

The other templates "ASP.NET Core Web Application (.NET Core)" and "ASP.NET Core Web Application (.NET Framework)" are actually als

[2016-05-16 23:38] sayedihashimi commented on #571
Looks like we did not set the num rollup correctly.

[2016-05-16 23:39] phenning commented on #571
This is all based on the sort orders in the vstemplates.

Current sort orders for templates:

ASP.NET Web Application (.NET Framework) - 15
ASP.NET Core Web Application (.NET Core) - 25
ASP.NET Core Web Application (.NET Framework) - 35

Class Library (.NET Core) - 18
Console Application (.NET Core) - 19

The following one is from the .NET Core node and we should probably set NumberOfParentCategor

[2016-05-16 23:41] phenning commented on #571
We could try setting the following:

ASP.NET Core Web Application (.NET Core) -  16
 ASP.NET Core Web Application (.NET Framework) - 16

Setting them to be the same will then cause them to be sorted alphabetically and right after the ASP.NET Web Application (.NET Framework) template which is at 15. If we want these first, we could try setting the sort order to both these to 14.

And remove the rol

[2016-05-17 17:34] sayedihashimi commented on #571
Here is what we discussed today, let's make sort order to 15 for:
- ASP.NET Web Application
- ASP.NET Core Web Application (.NET Core)

[2016-05-17 18:36] phenning commented on #571
Assuming this is the desired order:

ASP.NET Web Application (.NET Framework)
ASP.NET Core Web Application (.NET Core)
ASP.NET Core Web Application (.NET Framework)

We need to have Web Application = 14, and the other two set = 15. If we set everything to 15, then the non DotNet templates will appear first, both here AND in the Web node.

The following templates are already in the sort order, so t

[2016-05-17 18:37] phenning commented on #571
Resulting UI, as suggested:

![image](https://cloud.githubusercontent.com/assets/2433750/15334587/b6b2b604-1c23-11e6-8c9a-2d831a3864ff.png)

[2016-05-17 18:42] phenning commented on #551
I'm working on some of these issues along with some other UI improvements.

[2016-05-17 19:21] balachir commented on #571
@phenning I believe we wanted to show only the following templates in the top-10 list
ASP.NET Web Application (.NET Framework)
ASP.NET Core Web Application (.NET Core)

The template below can remain lower down in the list (where it is now)
ASP.NET Core Web Application (.NET Framework)

This is so that we don't completely take over the top-10 list of Visual C# node with all the ASP.NET templates.

[2016-05-18 05:40] fredrikn opened #572 "A template for "Class Library (.Net Framework)" that will use the new project structure."
If we craete a "Asp.Net Core (.Net Framework)" project, and then will add a Class Library. We have three templates:

Class Library - Uses the old project structure with .csproj

Class Library (Portable) - Like a hybrid with project.json and .csporj file.

Class Library (.Net Core) - Uses the new project structure but by default target the .Net Standard Library.

It's possible to add a Class Librar

[2016-05-18 13:12] MaxxDelusional commented on #569
As a workaround I copied the Startup.cs file from `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\WebTemplates\DNX\CSharp\1033\Rules\StarterWeb\AI\OrganizationalAuth\Single\NoRead` and placed it in the parent directory.

[2016-05-18 20:17] phenning commented on #571
Updated in WTE

[2016-05-18 20:18] #571 closed, assigned to nobody

[2016-05-19 16:36] #569 closed, assigned to nobody

[2016-05-19 17:22] phenning opened #573 "Individual Auth template should contain multiple _ViewImports.cshtml for each view folder."
The current content of this file is problematic when you want to add a controller and views that have models to display on the Index page because ManageViewModels contains an IndexViewModel class already.

[code]

Instead we should have the root _ViewImports just contain:

[code]

Then add a _ViewImports to the Manage and Account Views folders:

`@using Microsoft.Models.ManageViewModels`

[2016-05-19 17:40] sayedihashimi commented on #560
@rowanmiller @glennc closing this. When you close on a plan reopen if this is needed.

[2016-05-19 17:40] #560 closed, assigned to nobody

[2016-05-19 17:42] sayedihashimi commented on #556
@kichalla what's the experience if you start `dotnet watch` from the command line and then use VS to edit?

[2016-05-19 17:44] sayedihashimi commented on #298
I'm agreeing with @rustd, and that we should keep the templates simple by default. I haven't heard any customer feedback on this and I believe that changing these settings is only happening every once in a while. Based on that I'll close this. If anyone is super passionate about this then grab me offline.

[2016-05-19 17:44] #298 closed, assigned to sayedihashimi

[2016-05-19 18:03] davidfowl commented on #572
When we make the shift to msbuild in the next version of visual studio. Not enough things work end to end to have a template right now.

[2016-05-19 18:11] peterblazejewicz commented on #556
@sayedihashimi
This could be useful for x-plat experience.

[2016-05-19 18:18] divega commented on #471
Customers feeling the pain of this not being in: https://github.com/aspnet/Options/issues/142.

[2016-05-19 18:18] kichalla commented on #556
`dotnet watch` restarts the application when it sees changes to files its watching for

[2016-05-19 18:40] #572 closed, assigned to sayedihashimi

[2016-05-19 19:26] sayedihashimi commented on #556
@kichalla so you didn't run into any issues with VS when you started `dotnet watch` from the command line? If so will that work for you?

[2016-05-19 19:38] glennc opened #574 "Change templates to use environment variable for urls."
This will allow the Docker tools team to not modify user code after a new app is created.

[code]

[2016-05-19 19:47] kichalla commented on #556
Like the ask here is to add `dotnet watch` to the template generated projects by default, so that I do not have to add it every time. Basically it gives parity to the experience that we have with IISExpress where the changes are automatically picked up.

[2016-05-19 20:40] sayedihashimi opened #575 "Server GC"
See https://github.com/aspnet/Docs/issues/1237

In the templates we have

[code]

It should be

[code]

cc @danroth27

[2016-05-19 20:50] sayedihashimi commented on #556
@kichalla I understand. I'm trying to understand if using `dotnet watch` today with VS works well or is the scenario blocked and we need any updates for VS?

[2016-05-19 21:19] kichalla commented on #556
Ah Ok, got it. Sure it works well with VS.

[2016-05-20 21:53] JamieKeeling opened #576 "Missing Location header within registration response."
The **Verify_Account_Register_CreateAccount** Unit Test is failing due to a missing header within one of the responses.

An Assert has been configured which uses a local method to find the specified header from within a given HttpResponseHeaders object:

![image](https://cloud.githubusercontent.com/assets/7165035/15442990/a0b5128c-1edc-11e6-83bb-2fcfc1076b36.png)

In this instance, the unit test e

[2016-05-20 21:55] mikeharder commented on #574
I think templates should use the following, instead of hardcoding `http://localhost:5000`:

[code]

If the environment variable is not set, then `UseUrls(null)` will be called, and Hosting will use the default of `http://localhost:5000`.

[2016-05-20 23:27] sayedihashimi commented on #574
What would be the experience if you have a team and some use VS and others editors like VS Code or Notepad++?
For the VS users, we can take care of setting the env var. For the other users, if I understand this correctly, it would require them to set an env var on the command prompt for each project that needs to be launched.
The local url of the app is important because users will refer to a part

[2016-05-21 01:36] phenning commented on #574
@sayedihashimi I think for non-docker scenarios, we wouldn't set the environment variable and then hosting would just use localhost:5000 like Mike mentioned, thus keeping the same behavior we have today.

Docker would set the environment variable for their runtime scenario.

[2016-05-21 01:42] mikeharder commented on #574
Correct, there should be no difference from current behavior if the environment variable is not set.  `UseUrls(null)` is a no-op.  This just makes it easier for Docker Tooling (or any other customer scenarios) to change the address via environment variable.

We didn't want to add a fixed environment variable for this in the framework itself (in part because it's not discoverable), but it seems rea

[2016-05-21 02:34] sayedihashimi commented on #574
I see so this is independent of IIS Express, I missed that part.

[2016-05-21 04:50] danroth27 commented on #575
@blackdwarf @piotrpMSFT Can you guys please confirm the server gc syntax above is correct?

[2016-05-21 09:00] jcob-ross commented on #575
@danroth27

[2016-05-23 17:15] phenning opened #578 "Update DNX references in paths, template Ids and filenames to DotNet"
1. VSTemplate file names should be renamed DNX_.vstemplate -> DotNet_.vstemplate
2. Template Ids Microsoft.Visualstudio.DNX.\* -> Microsoft.Visualstudio.Dotnet.
3. Templates.xml, Update BaseTemplateIds to use DotNet instead of DNX, update VSTemplatePaths to match changes in 1. above.
4. VS WebTemplate folder -> WebTemplates/DNX -> WebTemplates/DotNet

[2016-05-23 17:15] phenning commented on #578
Also #543 although that also requires additional support from the project system

[2016-05-23 17:33] glennc commented on #574
This isn't needed now that WebHostBuilder will read the variable itself instead of having to have it passed in.

@mikeharder I was fairly sure UseUrls throws if is passed null. We could change that of course.

[2016-05-23 17:33] #574 closed, assigned to nobody

[2016-05-24 15:43] sayedihashimi opened #580 "VS2015: Asp.Net Core Template not working with Project name with spaces"
## Originally posted at https://github.com/aspnet/Tooling/issues/525 from @PascalNaumann

Hello,

when you create an project like "ASP.Net Core Empty Testproject" the template where created but when you try to start it fails.

best regards
Pascal

[2016-05-24 21:40] phenning commented on #575
fixed with PR #577

[2016-05-24 21:40] #575 closed, assigned to nobody

[2016-05-25 16:41] #578 closed, assigned to nobody

[2016-05-25 18:19] phenning commented on #578
This should actually be NetCore, not DotNet

[2016-05-26 16:37] phenning commented on #580
This looks like an issue with setting "preserveCompilationContext": true.

Repo steps are easy: dotnet new, then add "preserveCompilationContext": true to the buildOptions.

When this happens the csc response file is generating a line like the following:

-resource:"c:\dd\samples\Console\src\Console With Spaces\obj\Debug\netcoreapp1.0\Console With Spacesdotnet-compile.deps.json",Console With Space

[2016-05-26 16:41] davidfowl commented on #580
/cc @pakrym

[2016-05-26 16:46] phenning commented on #580
Updated CLI issue:
https://github.com/dotnet/cli/issues/3221#issuecomment-221927810

[2016-05-26 17:16] phenning commented on #576
The InvalidOperation exception is being fixed.

One thing to keep in mind, that currently the Individual Authentication unit tests will only succeed if invoked through the command line build since the test\runtests.cmd script is responsible for running the database migration to create the database in dev mode.

[2016-05-26 17:17] phenning commented on #576
4c29c026626dc2f7c8181202008ff288a6471ffb

[2016-05-26 17:17] #576 closed, assigned to nobody

[2016-05-29 10:47] dvdobrovolskiy opened #584 "Edit does not scaffold Id field"
[HttpPost]
[ValidateAntiForgeryToken]
public async Task<IActionResult> Edit(int id, [Bind("RSOTimeToResponce,RiseToRSO,Title,UKOTimeToResponce,ZayavkaReasonType,ZayavkaType,ZayavkaAskTime")] Reason reason)

No Id field in Bind("...") so it cannot update row

[2016-05-31 07:25] sgjsakura opened #585 "[Proposal]ASP.NET Core Static Website Template"
Hi all,
I want to build-up a static website (works with client site libraries like angularjs), however I'd like to take the advantage from Visual studio from bower package management, compiling scripts, publishing, etc. Could you please offer a new template for static websites? Many thanks!

[2016-05-31 14:40] phenning commented on #584
Opened scaffolding bug:
https://github.com/aspnet/Scaffolding/issues/243

Closing this one

[2016-05-31 14:40] #584 closed, assigned to nobody

[2016-05-31 16:56] kevinchalet opened #586 "Configure logging from Program.Main() instead of injecting ILoggerFactory in Startup.Configure"
Currently, the logging listeners are added in `Startup.Configure`. Ideally, the ASP.NET Core templates should use the new `WebHostBuilder.ConfigureLogging` method instead of injecting `ILoggerFactory` via `Startup.Configure`:

[code]

[2016-05-31 18:48] peterblazejewicz commented on #585
duplicate of: #137 #541

[2016-06-01 00:58] sayedihashimi opened #587 "Make No Auth the default for web projects"
I'm having a discussion with @davidfowl @DamianEdwards @shanselman @coolcsh and we are thinking to change the default for web projects to be `No Auth`.

[2016-06-01 12:03] brockallen commented on #587
+1

[2016-06-01 18:57] peterblazejewicz commented on #587
We (at work) usually create couple of interim short projects in VS to test ideas before trashing them completely or moving good parts of implementation to other project we are working on. That is a frustrating UX experience to always uncheck Auth to check to No Auth. I 100% prefer generator quick and dirty starter web project with no auth (as the only option).

[2016-06-02 17:22] phenning commented on #118
TFS: [227406](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=227406&_a=edit)

[2016-06-02 17:36] sayedihashimi commented on #586
@DamianEdwards @davidfowl thoughts?

[2016-06-02 17:38] sayedihashimi commented on #585
Our Visual Studio project system doesn't support "static" web projects yet really (website project does support this though). It will always run `dotnet` for projects today. We are making some changes and this is something that I would like to enable but we are not fully committed to this yet.

cc @BillHiebert

[2016-06-03 11:10] RehanSaeed commented on #498
One thing I've done in [ASP.NET MVC Boilerplate](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate) is to create a check-list in the ReadMe.html file that gets generated as part of my project template to make it interactive.

I'm using [Persis-JS](https://github.com/jeremydurham/persist-js) to store when a user has checked a check-box and also to collapse or uncollapse expander sections. It pu

[2016-06-03 17:58] eavonius opened #588 "Follow RESTful conventions in new Web App project templates"
I have been messing around with the aspnet core 1.0 rc2 release and I'd like to make a few suggestions. When you create a new aspnet core "Web Application" using the template and "Individual User" authentication, the default controllers and views that are generated are a mish-mash of actions and views that don't enforce good RESTful MVC resource naming conventions.

In most MVC apps (rails, ASP.NE

[2016-06-06 00:40] davidfowl commented on #586
Not sure about this, I thought about it as well but if you configure logging based on the configuration system we'll end up reading `appsettings.json` in the `Program.Main` which I'm not a fan of. Ideally host configuration and `Startup` configuration would remain separate.

[2016-06-06 00:43] davidfowl commented on #588
@eavonius Can you make a sample application with exactly what you'd like to see in a github repository? That would be easier to look at.

[2016-06-06 01:01] davidfowl opened #589 "Fix item template for appsettings.json"
This is what the item template generates:

[code]

This is what the project template has:

[code]

[2016-06-06 01:16] divega commented on #471
Was this automatically punted to tooling RTM because we renamed the milestone? Can't we get it in for preview2 instead? I keep seeing customers looking for those APIs. @rustd @phenning

[2016-06-06 15:32] rustd commented on #471
@sayedihashimi who owns templates now.

[2016-06-06 16:52] phenning commented on #589
TFS [228393](https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=228393&_a=edit)

[2016-06-06 19:33] phenning commented on #589
Fix is in

[2016-06-06 19:33] #589 closed, assigned to nobody

[2016-06-06 19:33] phenning commented on #471
Talked this over with @mlorbetske. We'll add this package for preview2

[2016-06-06 19:49] phenning commented on #471
Adding for all but Empty since Empty does not pull in Configuration at all.

[2016-06-06 19:49] #471 closed, assigned to nobody

[2016-06-06 20:22] javiercn opened #591 "Include asp-area="" in links under Views/Shared/ views"
- It teaches the customers what the right thing to do when they share views.
- It prevents issues that happen when a customer decides to include an area and their layout links suddenly change depending on whether they are rendering a view within an area or not.
- It will prevent a flood of incoming issues like https://github.com/aspnet/Mvc/issues/4815

[2016-06-06 21:14] phenning commented on #591
Thoughts? Preview2 tooling or post?

//cc @mlorbetske @sayedihashimi @Eilon

[2016-06-07 18:45] Eilon commented on #591
I'm not too concerned about adding this at all. Most sites don't use areas, so I don't really want to add extra stuff to the template in case someone adds areas. There's lots of other stuff we also don't put in the templates that you might need if you then make other changes to the template.

[2016-06-07 18:47] phenning commented on #591
This one seems rather ugly though for customer to fix, and its not obvious what you need to do in order to fix it.

[2016-06-08 15:56] rynowak opened #595 "Add Areas to publishOptions"
See user-reported issue here: https://github.com/aspnet/Mvc/issues/4827#issue-159058385

Can we just include `Areas/**/Views` by in the template?

[2016-06-08 16:19] phenning commented on #595
If we add this, we should definitely do #593 as well.

@Eilon

[2016-06-08 16:21] phenning commented on #595
#591 the issue, #593 is the PR for it

[2016-06-08 17:23] Eilon commented on #591
Ok, thought about it some more, would be nice to add this. But perhaps not super urgent, so if it's too busy for this release, it can wait.

[2016-06-08 17:25] Eilon commented on #595
Ok, thought about it some more, would be nice to add this. But perhaps not super urgent, so if it's too busy for this release, it can wait.

[2016-06-08 17:26] phenning commented on #591
Thanks Eilon, we'll be able to get this in along with #595 easily.

[2016-06-08 19:01] #591 closed, assigned to nobody

[2016-06-08 19:01] #595 closed, assigned to nobody

[2016-06-08 20:31] HaoK opened #596 "Individual Auth ManageController should guard against null current user."
The various actions don't handle the situation where GetCurrentUser returns null very gracefully, we should add a check and show an error or just redirect back to Home or something in this situation instead.

[2016-06-08 21:04] peterblazejewicz opened #597 "Re-arrange asp-area tag attribute placement"
The https://github.com/aspnet/Templates/pull/593 adds `asp-area` (in this order).

[code]

Can the order be:

[code]

The tag attributes should follow MVC framework mantra: area/controller/action I think.
Thanks!

[2016-06-09 01:57] phenning commented on #597
Good idea, we should do this now.

[2016-06-09 02:03] #597 closed, assigned to nobody

[2016-06-09 04:18] peterblazejewicz commented on #597
Thanks!

[2016-06-12 03:20] ryanwu opened #602 "DOCTYPE doesn't take effect when enabling browserlink in a new asp.net core mvc app"
I create an mvc application via asp.net core web application template, running it and view the page source, I found <!DOCTYPE html> is there, while using chrome debug tool(F12), <!DOCTYPE html> disappeared.  While when I browser it in IE, it works well.

[2016-06-14 18:35] phenning commented on #596
@HaoK Looking at the linked issue, it looks like this was resolved in the runtime, Also, I'm unable to repro this with the current runtime and template bits.

Do we have anything to do here? It looks like I'm always getting redirected to the login page when I try to navigate to the anything on the ManageController (due to the Authorize attribute on the controller) when I don't complete the externa

[2016-06-14 23:16] HaoK commented on #596
A runtime bug exposed the template bug, but basically we should check that user is not null consistently in all of the various actions before calling into the userManager:

https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/ManageController.cs#L53

Some do and some don't today

[2016-06-15 00:33] #596 closed, assigned to nobody

[2016-06-15 17:49] Rick-Anderson opened #608 "missing /Account/AccessDenied method/view for unauthorized requests"
By default, when you

[code]

for unauthorized requests, you are redirected to

http://localhost:port/Account/AccessDenied?ReturnUrl=<where you were>

The account controller needs an AccessDenied method/view.

[2016-06-15 18:12] phenning commented on #608
What did you use for the base template?

Do you have a repro project?

I can't repro this with either NoAuth or IndividualAuth.

[2016-06-15 19:34] Rick-Anderson commented on #608
Closing until I come up with a repro

[2016-06-15 19:40] Rick-Anderson commented on #608
1. Create a new web app with auth
2. Update the contact method in the home controller with the following:

[code]

Launch and Tap on Contact. You are redirected to the log in page.
Tap the register link and register.
Tap the Contact link again. This time you're redirected to http://localhost:2207/Account/AccessDenied?ReturnUrl=%2Fcontacts%2FEdit%2F1

which does not exist so you get a 404 on some b

[2016-06-15 20:47] phenning commented on #608
@Haok, should we add an AccessDenied action here for the CookieAuthentication handler to handle this?

preview2 or post?

@mlorbetske @sayedihashimi

[2016-06-15 20:54] phenning commented on #608
/cc @balachir @Eilon

[2016-06-15 20:57] HaoK commented on #608
Yeah probably a nicer error experience

[2016-06-15 21:03] phenning commented on #608
I talked to @barrytang, we'll take this post preview2, for now if people run into this they can add the view and code in the referenced pull request.

[2016-06-15 21:08] sayedihashimi opened #610 "Update empty to have diagnostics and logging"
@glennc

[2016-06-15 21:24] Rick-Anderson commented on #608
@phenning  thanks. I'll document this. Do you need `[AllowAnonymous]` ? The request in authenticated at this point.

[2016-06-15 21:24] phenning commented on #608
Actually, I don’t think we need to use AllowAnonymous in this case.

From: Rick Anderson [mailto:notifications@github.com]
Sent: Wednesday, June 15, 2016 2:24 PM
To: aspnet/Templates Templates@noreply.github.com
Cc: Phil Henning Phil.Henning@microsoft.com; Mention mention@noreply.github.com
Subject: Re: [aspnet/Templates] missing /Account/AccessDenied method/view for unauthorized requests (#608)

[2016-06-15 22:43] dougbu opened #612 "Correct or replace link for `AddUserSecrets()`"
The link in the comment below (from `Startup` in most templates) takes the user to https://github.com/aspnet/Home/wiki/DNX-Secret-Configuration This is an old page; should instead take user to https://docs.asp.net/en/latest/security/app-secrets.html

[code]

I haven't checked other `fwlink` URIs in the generated files. Might contain more stale links.

See also aspnet/Docs#1390

[2016-06-15 22:45] phenning commented on #612
We should update the fwlink pointer for link 532709

[2016-06-15 22:53] phenning commented on #610
Fixed by #611

[2016-06-15 22:53] #610 closed, assigned to nobody

[2016-06-15 23:17] dougbu opened #613 "Remove unnecessary `imports` from project.json files"
The templates still contain `imports` required only for earlier Json.NET releases.

@javiercn has cleaned up all of the runtime repos to remove these. But they remain in our templates.

This should be a candidate for the Preview 2 release.

[2016-06-16 13:56] sgjsakura opened #614 "Please uniform some words in the standard template"
_I don't know where to post this issue. Please move it to a more suitable place if possible, thanks!_

In ASP.NET Core default templates, the default use logon related action are named as "Login" and "LogOff", I think this is not standardized.

In Chapter 3.1 (_Word Choices_) of the Book _Framework Design Guidelines: Conventions, Idioms, and Patterns for Reusable .NET Libraries_, (The .NET Guideli

[2016-06-16 16:28] phenning commented on #613
It looks like we still need:
        "portable-net45+win8"
in the Individual Auth template due to Scaffolding due to Microsoft.Composition, this is needed both in the tool and at the project level.

We also still need all the imports for the BundleMinifier tool as well.

We can remove all the other imports from every other tool.

@Eilon, @DamianEdwards  Given this, do we want to keep the portable

[2016-06-16 16:36] javiercn commented on #613
We have a bug for tracking Microsoft.Composition @pranavkm can you post it here for reference? I believe you filed it.

[2016-06-16 16:41] Eilon commented on #613
My guess is that @DamianEdwards / @davidfowl would want to remove all unnecessary imports, but I'm not certain.

[2016-06-16 16:48] pranavkm commented on #613
Microsoft.Composition work item: https://github.com/dotnet/corefx/issues/6598

[2016-06-16 17:16] sayedihashimi opened #615 "Add logging and diagnostic pages to empty"
See https://github.com/aspnet/Templates/pull/611

[2016-06-16 17:17] sayedihashimi commented on #615
TFS Bug#232003

[2016-06-16 17:18] #615 closed, assigned to nobody

[2016-06-16 18:35] SteveSandersonMS commented on #551
Some more observations from the current round of verification:

**Forgot password flow doesn't send emails to people whose emails aren't confirmed, but doesn't tell them that**
It acts as if it has sent the email, but hasn't. This would be extremely confusing for a user who didn't realise they had to click the original confirmation link and was trying to fix the problem by resetting their password

[2016-06-16 19:05] jodavis commented on #602
This is being caused by Browser Link, which is generating a BOM in the file. Chrome is interpreting the BOM as text, and so it starts interpreting everything after that as <body> content. That includes the

This will be fixed in the next release of the Web Tools. In the meantime, you can work around this issue by disabling app.UseBrowserLink() or using a browser other than Chrome.

[2016-06-16 19:05] #602 closed, assigned to nobody

[2016-06-16 19:12] SteveSandersonMS opened #616 "Site homepages claim it uses Gulp, but it no longer does"
This is also mentioned in https://github.com/aspnet/Templates/issues/538, but that issue is slightly different as it's specific to the "Empty" template. This issue covers Gulp being mentioned in the non-empty template too - we should not mention Gulp at all, as it's not in there by default.

[2016-06-16 19:17] peterblazejewicz opened #617 "EmptyWeb Startup.cs missing `using Microsoft.Extensions.Logging` after #611"
I'm porting the #611 to `generator-aspnet` and I'm pretty sure that `Startup.cs` in Empty project template is now missing proper input, like one in starter web:
https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/Startup.cs#L9
(in the other words: `dotnet build` fails)
Thanks!

[2016-06-16 19:32] peterblazejewicz commented on #614
On the other hand: [Sign in to or out of Windows](http://windows.microsoft.com/en-us/windows-8/sign-in-out-of-windows) 😸

[2016-06-16 19:37] peterblazejewicz commented on #617
Fixed by: https://github.com/aspnet/Templates/commit/b201501a008832a82fd0770b00bf4ce42579915d

[2016-06-16 19:37] #617 closed, assigned to nobody

[2016-06-16 20:32] sayedihashimi commented on #612
FWLink updated to https://docs.asp.net/en/latest/security/app-secrets.html

[2016-06-17 04:23] sgjsakura commented on #614
@peterblazejewicz The terms "Sign In" and "Sign Out" is ok since we never say "Sign on" or "Sign off". The .NET Core BCL also uses these words in some places (e.g. `SignInManager<TUser>`). This issue is only related to words started with "log" :-)

[2016-06-17 14:53] phenning commented on #614
If anything we should probably update Logoff to Logout to be consistent with CookieAuthenticationDefaults (https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationDefaults.cs)

In any event, this does not meet the bar for preview2 release.

[2016-06-17 19:41] moozzyk opened #620 ""Run tools such as EF..." takes the user to cli tools which don't mention EF"
![image](https://cloud.githubusercontent.com/assets/1438884/16162449/6686ace4-3488-11e6-9f2b-36cd82cd36f1.png)

Takes the user to:
https://dotnet.github.io/docs/core-concepts/core-sdk/cli/index.html

which does not mention EF at all since these are basic CLI tools.

[2016-06-17 23:50] cjqian opened #621 "Incorrect casing in layout template"
In the default _Layout.cshtml, "scripts" in

should be capitalized for consistency.

[2016-06-18 00:33] Rick-Anderson opened #623 "update "Learn more" link on Change Authentication/Individual User accounts"
![learnmore](https://cloud.githubusercontent.com/assets/3605364/16167970/8825bb32-34b1-11e6-8e66-93d81a5a99ca.PNG)

The link goes to http://www.asp.net/visual-studio/overview/2013/creating-web-projects-in-visual-studio#auth

[2016-06-18 00:37] Rick-Anderson commented on #459
#623

[2016-06-18 02:41] phenning commented on #623
The templates don't drive this Learn more link, this particular learn more link is just in tooling and is the same fwlink depending on auth type chosen in VS 2013 and VS 2015.

IndividualAuth: 299423
NoAuth:  299422
Work and School: 299424
WindowsAuth: 299425

[2016-06-18 02:42] phenning commented on #623
Moving to backlog since this is not specific to DotNet templates, and has been this way through all o VS 2015.

[2016-06-18 02:42] phenning commented on #623
@sayedihashimi, @mlorbetske FYI

[2016-06-18 03:25] damienbod commented on #541
Maybe something like this with Webpack
https://github.com/damienbod/Angular2WebpackVisualStudio

[2016-06-18 22:13] eavonius commented on #588
I'm about 3/4ths of the way done with an example from refactoring this. One issue I ran into though is that I moved the user related controllers and views into an area and now the layout is not being rendered.

Is it possible for an area to reuse the "default" layout, or do you have to re-implement the layout again?

[2016-06-18 22:21] eavonius commented on #588
My initial project is here so you can see where I'm going with it. I still need to fix the layout issue in the area and refactor the rest of the "Manage" controller actions into appropriate REST resources.

https://github.com/eavonius/aspnetcore-restful-auth-sample

[2016-06-19 09:25] peterblazejewicz commented on #588
@eavonius
I'll try to help you wit this. Thanks!

[2016-06-20 03:09] scottaddie commented on #616
@SteveSandersonMS @phenning I believe this was already addressed with PR https://github.com/aspnet/Templates/pull/605.

[2016-06-20 15:28] scottaddie commented on #541
@damienbod Have you already seen the following Angular 2 template? https://github.com/aspnet/JavaScriptServices/tree/master/templates/Angular2Spa. It seems like you might get a little more traction over there.

[2016-06-20 16:19] phenning commented on #588
@eavonius you need to set asp-area="" in any shared layout you want to use in an area. We recently changed this in the template.

Editted, oh you meant the layout wasn't being rendered.

[2016-06-20 17:29] eavonius commented on #588
@phenning I worked around this by adding a _ViewStart to the area's Views folder that specifies the layout - this fixed that problem. I do believe there may be a defect I found though in that any forms that have the asp- attributes on them aren't updated at runtime. I tried adding a _ViewImports to the Area that matches the one in the root "Views/Shared" folder but then I get lambda exceptions fro

[2016-06-20 17:37] eavonius commented on #588
Just to clarify (you'll see this in the README for my example project) the philosophy behind the changes I'm recommending is that it is critical in MVC architectures to always think through what resources are being modified and how they fit into the standard Index/Details/Create/Edit/Delete pattern of REST.

Without demonstrating this in out of the box code from Microsoft, it leads to developers p

[2016-06-20 17:59] Tratcher opened #625 "Scaffolding is only included in the Individual Auth template"
https://github.com/aspnet/Scaffolding/issues/212

Scaffolding is unrelated to auth type, it should be included in all but the Empty template. The feature is invisible otherwise.

[2016-06-20 19:26] DamianEdwards opened #626 "Consider changing to standard Boostrap form layout instead of "form-horizontal""
The templates currently use the [horizontal form layout from Bootstrap](http://getbootstrap.com/css/#forms-horizontal), which results in a **lot** more markup being required for the forms in the template. We should consider changing to the [standard Bootstrap form layout](http://getbootstrap.com/css/#forms-example) as it results in much simpler template markup while retaining a perfectly usable fo

[2016-06-21 05:09] damienbod commented on #541
Hi @scottaddie yes, I saw that, but its using the old angular2. (Pre RC1). Webpack provides a really good solution which could be used in production and not just demos unlike many of the existing blogs/examples for using Visual studio, aspnetcore and angular 2.

Greetings and thanks for your reply Damien

[2016-06-21 13:10] mikes-gh commented on #626
@DamianEdwards I see your point but I prefer horizontal. Just my 2c
I did actually use most of the template markup as is for individual accounts so it saved me a lot of work and seemed to be good for mobile and desktop in the horizontal.
I actually learnt horizontal forms from the template.

[2016-06-21 14:07] damienbod commented on #541
@scottaddie It got updated today :) Thanks for the link

[2016-06-21 14:12] scottaddie commented on #541
@damienbod No problem. I know they're looking for feedback on those templates. I'd encourage you to submit PRs to help mold the Angular template into something you'd actually want to use.

[2016-06-21 17:02] DamianEdwards commented on #626
@mikes-gh no doubt that some get a benefit with the way it is now, but I think we need to optimize for the simplest, functional example in the template. The different in this case is quite dramatic.

[2016-06-21 17:07] mikes-gh commented on #626
Yeh I don't have a problem with that.  Make as simple as possible there's enough to take in.

[2016-06-21 19:42] peterblazejewicz commented on #626
[code]

The checkbox cannot be nicely written in Razor yet: https://github.com/aspnet/Mvc/issues/2369

This will render in current templates (out-of-the-box):
![image](https://cloud.githubusercontent.com/assets/14539/16243745/ff603ee4-37f8-11e6-9372-0fbc2b700d02.png)

The `has-error`and error message are just added to present validation state.

[2016-06-22 22:04] HaoK opened #627 "Update-Database does not work as suggested in Template error page"
When accessing database after create a new Individual Auth Web App, error page shows:

In Visual Studio, you can use the Package Manager Console to apply pending migrations to the database:
PM> Update-Database

This actually does not work by default, either this text should be removed, or something needs to be fixed?

[2016-06-22 22:23] phenning commented on #627
EF is responsible for the content of this page, it is not coming from the template,

[2016-06-22 23:26] HaoK commented on #627
I'll move this to EF, thanks

[2016-06-22 23:28] HaoK commented on #627
https://github.com/aspnet/EntityFramework/issues/5840

[2016-06-22 23:28] #627 closed, assigned to nobody

[2016-06-23 22:10] moozzyk opened #631 "ApplicationDbContextModelSnapshot is referring to -rc3"
The product version in ApplicationDbContextModelSnapshot is hardcoded to `1.0.0-rc3`

https://github.com/aspnet/Templates/blob/26b9b046d5d858995021a53e6479ab0fb62cbbfa/src/Rules/StarterWeb/IndividualAuth/Data/Migrations/ApplicationDbContextModelSnapshot.cs#L18

[code]

After talking to @bricelam "1.0.0" should be fine.

Related issue in the EF repo: https://github.com/aspnet/EntityFramework/issues

[2016-06-23 23:38] phenning commented on #631
Does this break anything?

[2016-06-24 00:00] moozzyk commented on #631
No. It's not breaking. We talked with @Eilon and @bricelam and we are not rebuilding because of this.

[2016-06-26 09:56] Anderman opened #634 "GetCurrentUserAsync is not used in AccountController"
https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L449-L452

[2016-06-26 19:12] ghost opened #635 "Exclude bower components from buildOptions in project.json"
Hi Guys,

Following this issue: [Wrong assembly information / exe file details (dotnet/cli  #3620)](https://github.com/dotnet/cli/issues/3620)...

Can you consider in new templates to exclude `lib` (bower components) or `wwwroot` folder from `buildOptions` in `project.json` by default ?

For example:

[code]

Currently (.NET Core RC2) new project created from default template in VS2015 not contain

[2016-06-26 19:20] peterblazejewicz commented on #635
Any 3rd party dependency can bring down your project build:
https://github.com/aspnet/Templates/pull/603#issuecomment-225704289

Folks, why entire web root path can't be excluded by default in web app templates?  Entire directories are included in rules: https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/project.json#L54-L56

[2016-06-26 22:11] ghost commented on #635
I can agreed about NPM as it's not necessary for project and seems to be not included in new project by default.

My case is about `lib` folder which is included in new project by default and contains Bower components (like a Bootstrap or jQuery). I see no point to include it for compilation of my own project, moreover I have no control on what is included in 3rd party libs...

Of course excluding

[2016-06-27 17:39] phenning commented on #616
Indeed fixed by #605

[2016-06-27 17:39] #616 closed, assigned to nobody

[2016-06-27 17:40] #612 closed, assigned to nobody

[2016-06-28 05:14] shanselman commented on #556
Let's do this so it works out of the box with VSCode.

[2016-06-28 15:53] sayedihashimi opened #637 "Incorrect casing in Bower item template description #622"
From https://github.com/aspnet/Tooling/issues/622 @scottaddie
The "Bower Configuration File" item template will create a file named `bower.json`. The template's description should reflect that name exactly. Please convert the uppercase "B" to lowercase.

![bowerjson](https://cloud.githubusercontent.com/assets/10702007/16420128/cca22018-3d15-11e6-9eca-b4e47680288a.png)

The screenshot above depicts

[2016-06-28 15:54] sayedihashimi opened #638 "Bower Configuration File template not producing .bowerrc for .NET Framework #623"
From https://github.com/aspnet/Tooling/issues/623 @scottaddie

In Visual Studio 2015 Update 3, follow these steps to reproduce:
1. File -> New -> Project
2. Select the "ASP.NET Web Application (.NET Framework)" project template. In my case, I had .NET 4.6.1 selected in the drop-down.
3. Add a new item and select the "Bower Configuration File" item template

Notice that the `bower.json` file was ge

[2016-06-28 16:25] phenning commented on #638
Per discussion with @madskristensen.

For WAPs, we don't need a .bowerrc file since WAPs just use the default bower_components folder. DotNet projects require it though since we need to put the content in wwwroot.

[2016-06-28 16:27] phenning commented on #637
Easy fix, we should also update the description and remove the awkward wording:

Bower Configuration Files: bower.json and .bowerrc
and for WAP and websites it should read:
Bower Configuration File: bower.json

[2016-06-28 17:39] mlorbetske commented on #620
Let's update the FWLink for this one to point at more EF centric documentation

[2016-06-28 17:40] mlorbetske commented on #614
Let's change "logoff" to "log out"

[2016-06-28 17:54] mlorbetske commented on #573
Let's figure out how this story completes - if we do a ViewImports per area it creates a sort of cascade in where to figure out where usings are coming from and we should make the template versus the editing experiences consistent. Should adding a new view to a subfolder generate a viewimports for that location?

[2016-06-28 22:57] NTaylorMullen opened #640 "Only reference Microsoft.AspNetCore.Razor.Design in dependencies"
Now that [this](https://github.com/aspnet/RazorTooling/issues/80) has been completed there's a lighter weight inside-man package for the dependencies section. We should be referencing this instead of the `Microsoft.AspNetCore.Razor.Tools` package.

[2016-06-29 16:53] #638 closed, assigned to nobody

[2016-06-29 16:53] phenning commented on #637
Fix checked into WTE

[2016-06-29 16:53] #637 closed, assigned to nobody

[2016-06-29 16:57] phenning commented on #631
Resolving this, as we'll update the migrations again post 1.0, and we'll catch this then

[2016-06-29 16:57] #631 closed, assigned to nobody

[2016-06-29 16:57] #621 closed, assigned to nobody

[2016-06-29 16:58] scottaddie commented on #637
@phenning Thanks for the quick turnaround on this! It's very much appreciated.

[2016-06-29 20:38] phenning commented on #640
Blocked by coherence-signed.

[2016-06-30 02:52] barrytang opened #642 "Could we have lightweight template?"
Opened on behalf of @miloush.

Something between Empty and Web?
 That wouldn't have any packages, javascript code or functional structure - just say one static view and one controller saying hello? Kind of minimum MVC...

Because currently when you want to create a new project, you either go with Empty and don't really know what you need, or you go with Web, deleting everything until it breaks...

[2016-07-01 16:43] sayedihashimi commented on #642
Hi @miloush thanks for the suggestion.

I've discussed with @madskristensen and he is going to start looking at this along with @Ladynaggaga I believe. Once we get more details we can see if we have the right content, and then figure out in what release we may be able to include this.

[2016-07-01 22:52] brockallen opened #643 "[Identity] ResetPassword is using FindByNameAsync, not FindByEmailAsync"
Moved here from: https://github.com/aspnet/Identity/issues/865

The template is using the wrong API to find the account for password resets. It should be based on email, not the username. This makes it easier for people who use the template and don't use email for the username.

[2016-07-02 17:58] wangkanai opened #644 "Work and School Accounts - The operation could not be completed"
I'm not sure what is wrong the template ASP.NET Core with Work and School Accounts authentication i get the following error when trying to build a **clean** project.

![work-school-accounts](https://cloud.githubusercontent.com/assets/10666633/16541824/2b617044-40b9-11e6-98f9-7e8f60fba07a.png)

Visual Studio 2015 Update 3
ASP.NET Core 1.0 RTM
ASP.NET Tooling Preview 2

[2016-07-02 18:03] wangkanai commented on #644
[code]

[2016-07-04 13:01] defilerc opened #645 "Replace <div> with <nav> in _Layoutpage for bootstrap navigation"
As bootstrap and w3schools documents suggest, it's more semantically correct to create the navigation menu using a `<nav>` elements, instead of `<div>` currently used in `_Layout.cshtml` pages.

[2016-07-05 17:08] sayedihashimi opened #647 "Clean up assemblyinfo.cs"
There are some entries in assemblyinfo.cs that is not needed and should be removed, for example `ComVisible`. Originally reported at https://twitter.com/jcansdale/status/749029292093374465.

[2016-07-05 18:54] jcansdale commented on #647
![comvisible](https://cloud.githubusercontent.com/assets/11719160/16595938/7f04997e-42e9-11e6-8e7f-010617029587.png)

I noticed that COM has been mostly scrubbed from the new .NET releases, but it was a shame to see new project templates marked with `ComVisible` and `Guid` attributes. Thanks for looking in to this!

[2016-07-05 19:38] sayedihashimi opened #648 "Ensure all templates have a unique FWLink for Learn More"
I noticed that the Azure\* templates all share the same FWLink https://go.microsoft.com/fwlink/?LinkID=517593, which is not ideal. Each template should have a unique FWLink (even if it points the the same final dest).

[2016-07-05 19:43] madskristensen opened #649 "StarterWeb references 2 bower packages but doesn't use them"
StarterWeb template included jQuery-validation and jQuery-validation-unobtrusive bower packages but doesn't use them when no authentication added.

[2016-07-10 06:39] sayedihashimi commented on #587
Reopening
Please make No Auth the default across all templates that we own.

[2016-07-10 17:42] bitcrazed opened #650 "Consider changing debugType to portable for .NET Core projects"
Since one of the major selling points for .NET Core is project portability across platforms, it might make sense to set buildOptions.debugType to "portable" by default.

This req' comes following my attempt at [trying to debug ASP.Net project using VSCode](https://twitter.com/bitcrazed/status/751464295121063936).

[2016-07-11 10:12] jcansdale commented on #647
BTW, the .NET Core, 'Add New Item' / 'Assembly Information' file has the same issue:

![netcore_addnewitem](https://cloud.githubusercontent.com/assets/11719160/16727211/f9ac9510-4757-11e6-885f-91dd6f1334b3.png)

[code]

[2016-07-13 08:47] Ponant opened #651 "GeoChart Google Visualization not showing certain countries in ASP.NET"
Hi, This bug has been submitted to google visualization on GitHub and Stackoverflow, but it seems to us it is more related to asp.net templates because it works without ASP.NET in VS.
http://stackoverflow.com/questions/38346452/geochart-google-visualization-not-showing-certain-countries-in-asp-net

[2016-07-13 22:26] mbharodia opened #652 "Microsoft.Extensions.Options.ConfigurationExtensions v 1.0.0"
Earlier I had reference to 1.0.0-rc2-final for Microsoft.Extensions.Options.ConfigurationExtensions.

As 1.0.0 is official now I have upgraded the package to 1.0.0. As soon as I did it, the build failed. The following extension method did not work. (Note: I have also upgraded other packages to 1.0.0. I was trying to move from beta to 1.0.0. So whatever seemed to be upgradable, I upgraded that)

se

[2016-07-15 15:41] rynowak opened #654 "Views in Areas are not getting published"
Here's the globs we have in publish options for the Web Application template:

[code]

The problem with this is that the glob `Areas/**/Views` is not getting published, none of it! This is a CLI bug, tracked here: https://github.com/dotnet/cli/issues/3286

We want to try and make a tactical fix to work around the problem. I've tested `Areas/**/*.cshtml` and `Areas/*/Views/**/*.cshtml`.

[2016-07-15 22:44] mlorbetske commented on #654
TFS Bug#240969

[2016-07-19 01:10] rynowak commented on #654
Best suggestion we have so far is to replace `Areas...` and `Views` with `**/*.cshtml`

[2016-07-19 15:39] mlorbetske commented on #654
cc @phenning

[2016-07-20 03:00] scottaddie opened #655 "Update repo description"
The Templates repo's description currently references the obsolete ASP.NET 5:

Please update this to reference ASP.NET Core, so that it matches the README file.

[2016-07-26 03:15] mlorbetske commented on #655
/cc @Eilon I don't seem to have sufficient privileges to do this - is this something you'd do?

[2016-07-26 03:18] mlorbetske opened #656 "Update links to use https"
- [ ] https://github.com/aspnet/Templates/blob/1cb68484c6877d3fc403abe6094bbd68e74eb0a5/src/BaseTemplates/EmptyWeb/Project_Readme.html#L136
- [ ] https://github.com/aspnet/Templates/blob/1cb68484c6877d3fc403abe6094bbd68e74eb0a5/src/BaseTemplates/EmptyWeb/Project_Readme.html#L144
- [ ] https://github.com/aspnet/Templates/blob/1cb68484c6877d3fc403abe6094bbd68e74eb0a5/src/BaseTemplates/EmptyWeb/Proje

[2016-07-26 04:30] Eilon commented on #655
Fixed, thanks!

[2016-07-26 04:30] #655 closed, assigned to nobody

[2016-07-28 17:59] mlorbetske commented on #650
@bitcrazed it seems like this should be the case for projects generated with `dotnet new` for sure, is this the right default for templates created in VS? @davidfowl any thoughts?

[2016-07-28 18:06] mlorbetske commented on #651
@Ponant how does the current template content interfere with this? I've read the issue, but don't understand the link between the issue you're seeing and what's in the templates

[2016-07-28 19:47] madskristensen commented on #642
2 new templates are now available here https://visualstudiogallery.msdn.microsoft.com/31a3eab5-e62b-4030-9226-b5e4c9e1ffb5

[2016-07-28 19:50] miloush commented on #642
That looks great, thanks Mads, I will give it a try!

[2016-07-28 21:08] Ponant commented on #651
@mlorbetske , it is unfortunately difficult for me to give you a good indication. The only thing I can say is that the issue occurs when I use the code shown in Stackoverflow in an ASP.NET app. By creating only an html file on the desktop, the issue disappears. If you wish, you can follow the simple steps in the link above and check it out.

[2016-07-29 14:13] sayedihashimi commented on #650
We discussed different options here. I think where we landed was that we don't want to change the default in the csc task, but we can use "dotnet build" (or msbuild targets) to define the default based on platform. The change required was to risky for the previous release so we decided to do a template update.

[2016-08-06 02:21] scottaddie opened #657 "Incorrect wording in gulp item template comment"
Add a new `gulpfile.js` via the Gulp Configuration File item template, and notice the following comment at the top of the file:

[code]

The third word of the first sentence is "in". It should be replaced with "is".

[2016-08-09 12:32] mlorbetske commented on #657
@scottaddie thanks for pointing this out :)

[2016-08-09 12:33] mlorbetske opened #658 "Remove bower.json from the default ASP.NET Core Web Application new project template."
**Moved from https://github.com/aspnet/Tooling/issues/710 via @ryanelian**

The matter of [gulp vs grunt](https://github.com/aspnet/Tooling/issues/83#issuecomment-227527780) was resolved in a manner that did not incite another world war by removing the task runner from the project. (At the end I ended up using gulp nowadays but that's another topic for another day)

Now, can the bower.json be remo

[2016-08-10 18:35] #634 closed, assigned to nobody

[2016-08-10 18:37] #608 closed, assigned to nobody

[2016-08-11 17:27] #654 closed, assigned to nobody

[2016-08-11 17:30] phenning commented on #657
Fix checked into WTE branch

[2016-08-11 17:30] #657 closed, assigned to nobody

[2016-08-11 22:31] Eilon opened #660 "Fix external login flow for failed/partial authentication"
Original bug: https://github.com/aspnet/Identity/issues/915
#

We want to make the change described in option (3) in @Tratcher 's comment at https://github.com/aspnet/Identity/issues/915#issuecomment-238939350.

Specifically, if the user attempts to use an OAuth login and they still have the external login cookie, the template code will automatically pick up where it left off and complete the flow

[2016-08-11 22:31] Eilon commented on #660
We can have @troydai do the fix to the templates.

[2016-08-12 00:10] ryanelian commented on #658
![screenshot 2016-08-12 07 07 15](https://cloud.githubusercontent.com/assets/8892187/17609080/b5da99e6-605b-11e6-83ed-39a3ab2252b3.png)

This is one other reason to remove the `bower.json` and the bundler / minifier thingy.

It actually failed my build when I wanted to **DEPLOY** my app to Azure App Service. Wut?

These things should be opt-in, not forced into everyone's throat.

[2016-08-12 09:18] mikes-gh commented on #660
We need to account for Identity.External being a different provider.
@Tratcher solution didn't allow for this.
TODO : refactor out repeated code

[code]

[2016-08-12 16:18] troydai commented on #660
Thanks, @mikes-gh . A good point. I'll make sure different provider scenario is handled.

[2016-08-12 16:19] Tratcher commented on #660
RE: Challenging for provider A does not currently work if you're already logged in with provider B and they share the same cookie: https://github.com/aspnet/Security/issues/859

[2016-08-12 16:24] troydai commented on #660
By the way, I'll also take a loot into issue https://github.com/aspnet/Security/issues/859 as well. Challenging the auth if the provider is changed can be another approach.

[2016-08-12 22:31] troydai commented on #660
Prototype v1

[code]

[2016-08-12 22:32] troydai commented on #660
/cc @HaoK

[2016-08-12 22:36] Tratcher commented on #660
Open questions:
- Is the signout redirect from Post to Get safe?
- Can we avoid the signout & redirect by fixing aspnet/Security#859?

[2016-08-15 17:21] HaoK commented on #660
My feeling is still that we should add a switch to turn off the new behavior we added instead of forcing this extra redirect, the flow is complicated enough without an additional redirect.

The AuthenticateUsingSignInScheme behavior is totally not desired in the multiple shared sign in cookie scenario, if we added an opt-out, then we'd only need to update the documentation when adding ExternalLogi

[2016-08-16 12:41] yaronpr opened #663 "No executable found matching command "dotnet-CoreAppDemo.dll"
I tried to follow up this instructions for docker integration with Visual Studio
https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.docker
Everything is good.
I have 2 Linux Ubuntu 16.04 (host & agent)
Team Services successfully build the image
Publish it to my registry (docker hub)
but when I am trying to execute the publish image
I am getting the following error:
"No executable found

[2016-08-16 20:58] #660 closed, assigned to troydai

[2016-08-19 21:41] phenning commented on #643
Fixed by PR #665

[2016-08-19 22:41] brockallen commented on #643
Thanks.

[2016-08-23 12:16] ArgTang commented on #642
These templates work great!

[2016-08-29 22:56] blowdart opened #667 "Add support for Subresource integrity to external javascript files"
See https://www.troyhunt.com/protecting-your-embedded-content-with-subresource-integrity-sri/

[2016-09-01 18:02] mlorbetske commented on #667
Pretty much the work here is:
- Find all CDN script references in all templates
- Compute hashes for the expected contents for all those files
- Use the methodology mentioned in the link to get supported browsers to do the validation of the script before validation
- Add a fallback to the production script references to point to the app local copy of the script

[2016-09-06 17:16] phenning opened #669 "Update templates to be consistent with new CLI/Nuget Casing behavior"
See https://github.com/dotnet/cli/issues/4141 and https://github.com/NuGet/Home/issues/2522

[2016-09-06 18:32] iamadamreed opened #670 "Cannot Run New Project"
Please see issue ~> https://github.com/aspnet/Home/issues/1733

[2016-09-09 19:30] sayedihashimi opened #671 "[parity] Create .net core templates"
We should create the following templates:
- .NET Core console app
- .NET Core class library
- ASP.NET Core templates

[2016-09-10 10:11] peterblazejewicz commented on #671
Do you mean the same as in dotnet/cli (for `new` command)? I was wondering about this topic recently Thanks!

[2016-09-11 22:21] #670 closed, assigned to nobody

[2016-09-12 21:20] sayedihashimi commented on #671
@peterblazejewicz yes. Eventually I'm hoping to integrate `dotnet new` (or it's components to be more precise) into `yo aspnet`, but we are not quite there yet.

[2016-09-19 17:19] #563 closed, assigned to nobody

[2016-09-27 17:34] mlorbetske commented on #669
We should consider this if the casing behavior doesn't get taken care of automatically

[2016-09-30 21:12] Rick-Anderson opened #674 "Remove web.config from ASP.NET Core templates"
In #422 @sayedihashimi  hints that _web.config_ is needed for deployment to IIS. But `Debug=false` has no impact on an ASP.NET Core app.

I like the opt in philosophy of ASP.NET Core, can we do the same with the templates?  When do you need _web.config_?

[2016-09-30 21:22] Rick-Anderson commented on #674
cc @Tratcher - I need to explain when/why you would need _web.config_

[2016-09-30 21:32] Tratcher commented on #674
web.config is required to run the app in IIS/Express. It turns on the AspNetCoreModule in IIS to launch your application. It may also be used to configure other IIS settings/modules.

[2016-09-30 22:18] Rick-Anderson commented on #674
Does IIS/Express mean IIS and IIS-Express? I delete it and it doesn't seem to have any impact on IIS-Express.

So if you're deploying to IIS, you need it to enable AspNetCoreModule .
You can configure modules or settings in IIS, but  typically you won't need to do that for new ASP.NET Core apps.

[2016-09-30 22:20] Tratcher commented on #674
Yes, IIS and IIS-Express. If the file is missing I recall that VS recreates it for you.

[2016-09-30 22:54] Rick-Anderson commented on #674
@Tratcher  Thanks - all this from customer questions and I'm adding it to the config doc.

[2016-09-30 22:54] #674 closed, assigned to nobody

[2016-10-04 22:52] Tratcher opened #675 "Add a friendly 404 route/page"
The web application (starter web) template does not have a friendly 404 experience, you end up with a blank page. There should be a default route/page with a simple message similar to the Error page.

[2016-10-04 22:53] Tratcher commented on #675
@rynowak

[2016-10-05 19:27] peterblazejewicz commented on #675
https://github.com/h5bp/html5-boilerplate/blob/master/dist/404.html
https://github.com/h5bp/html5-boilerplate/blob/master/dist/404.html#L60
https://github.com/h5bp/html5-boilerplate/pull/1443#issuecomment-25915714
https://webmasters.googleblog.com/2008/08/make-your-404-pages-more-useful.html
https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/
hth

[2016-10-06 13:08] scottaddie opened #676 "Exclude _references.js artifact from publish"
A `_references.js` file is included in the "Web Application" project template's `wwwroot` folder. It's currently being published with the application artifacts; however, it provides no value outside of the IDE. I was going to submit a PR for this, but I know that things are shifting from `project.json` back to the MSBuild/csproj world. To resolve this issue in `project.json`, the following could b

[2016-10-06 17:43] mlorbetske commented on #676
@phenning let's add this to the globbing patterns in the template to remove the CopyToPublish metadata

[2016-10-06 17:45] mlorbetske commented on #675
@sayedihashimi can you take a look at this?

[2016-10-06 18:00] sayedihashimi commented on #675
@Damianedwards any thoughts about what default content we want for a 404 page? If not I can work on a proposal and send it your way.

[2016-10-12 22:17] phenning commented on #544
N/A for msbuild

[2016-10-12 22:17] #544 closed, assigned to nobody

[2016-10-12 22:21] phenning commented on #613
N/A for msbuild based projects

[2016-10-12 22:21] #613 closed, assigned to nobody

[2016-10-12 22:22] phenning commented on #587
Fixed for all templates we own, including ASP.NET 4

[2016-10-12 22:22] #587 closed, assigned to nobody

[2016-10-12 22:38] #656 closed, assigned to nobody

[2016-10-26 23:44] halter73 opened #685 ".AddJsonFile("appsettings.json"... should not be optional"
@glennc Was running into an issue when migrating to msbuild where `WebHostBuilder.UseContentRoot` was called with the wrong path which did not contain any appsettings.json file. This was difficult to diagnose since there were  no logs to explain the 404 responses (which happened to be caused by missing .cshtml files). Once the logging was enabled, the traces made it easy to track down the bad `Use

[2016-10-27 18:41] HaoK opened #686 "Cannot link external logins in 1.0.0/1.0.1 Individual auth templates"
Repro:
- New Individual Auth App
- Add 2 external auth providers (i.e. facebook/twitter/google)
- Register a local user and password
- Manage -> Add External Login -> First Facebook/twitter/google will work
- Second will result in access failed.

Original issue: https://github.com/aspnet/Identity/issues/1005

This has been mitgated somewhat in 1.1 by https://github.com/aspnet/Security/pull/980

A

[2016-10-27 18:43] HaoK commented on #686
@Tratcher @blowdart @Eilon @muratg @divega we should probably discuss this one at triage today

[2016-10-27 23:55] divega commented on #686
Was there a triage discussion about this today? What was the conclusion?

[2016-10-28 02:28] Eilon commented on #686
@divega we have a thread with the tooling folks that I just added you to.

[2016-10-31 17:48] madskristensen opened #689 "Move "static void Main" from program.cs into startup.cs"
That allows us to remove _program.cs_ completely from the project templates and thereby reducing the number of files.

[2016-10-31 20:38] peterblazejewicz commented on #689
But there was a reason why the MS folks opted for split the logic within app:
https://github.com/aspnet/Templates/issues/367#issue-124608144
I do sometimes merge files to have a single file - but that was purely for clean, _single file to run_ solution - [like here](https://github.com/aspnet/Hosting/tree/dev/samples/SampleStartups) - not necessary something I would usually.

[2016-10-31 20:58] madskristensen commented on #689
For the vast majority of projects created in Visual Studio, having the startup/hosting logic in two separate files is just noise IMO.

[2016-10-31 21:00] danroth27 opened #690 "Removing and restoring bower packages for default template results in broken rendering"
Create a new ASP.NET Core web app, remove the bower packages, restore the packages and run the app. The app carousel doesn't render correctly.

[2016-10-31 21:01] peterblazejewicz commented on #689
So Q.E.D. Thanks for discussion.

[2016-10-31 21:06] danroth27 commented on #690
@madskristensen

[2016-11-01 23:13] sayedihashimi opened #693 "Remove GlobalExclude from templates"
The GlobalExclude is unnecessary. The SDK package also has a <Compile Remove =”…” /> and so the template can be simplified and the GlobalExlcude can be removed.

[2016-11-03 20:22] Eilon opened #694 "Update UserSecrets code in Startup.cs to pass in the assembly"
We need to update the code in Startup.cs that adds the UserSecrets config provider to call the 1.0.1 overload that takes in the assembly identity (i.e. `typeof(Startup).GetTypeInfo().Assembly`). Need to make sure this is the right code for both .NET Core and .NET Framework.

Note: We can't use any new 1.0.3 User Secrets config APIs because those don't ship in VS yet.

cc @muratg @DamianEdwards @ba

[2016-11-03 20:22] Eilon commented on #694
The branch to check this into for this release is: `rel/tools-1.0.0-preview3`

[2016-11-03 20:54] natemcmaster commented on #694
The overload that takes `typeof(Startup).GetTypeInfo().Assembly` is in "1.0.3" release. The only other API we have is `.AddUserSecrets(string userSecretId)`.

[2016-11-03 20:56] DamianEdwards commented on #694
Eilon and I looked in what we thought was the 1.0.1 branch and saw the API there. We're we wrong?

[2016-11-03 20:57] natemcmaster commented on #694
The "rel/1.0.1" version of aspnet/Configuration is in the November "1.0.3" release. Repos version unto themselves.

[2016-11-03 21:44] Eilon commented on #694
Yeah oops, closing this because we can't do it.

We'll look at patching 1.0.3 to do some smarter lookups instead.

[2016-11-03 21:44] #694 closed, assigned to natemcmaster

[2016-11-03 21:55] natemcmaster commented on #694
Do templates currently scaffold Microsoft.Extensions.Configuration.UserSecrets 1.0.0 for MSBuild? If so, that package won't work at all as there is no longer a file named "project.json".

[2016-11-04 00:13] Eilon commented on #694
@natemcmaster right, we'll do a patch for "1.0.3" to do a smarter lookup (e.g. scan all loaded assemblies for the new attributes and use the 1 we find. If there are 0 or there are more than one, throw.)

[2016-11-04 16:32] sayedihashimi opened #700 "Add a readme.md for dotnet new scenarios"
In VS we have a new start page for ASP.NET projects, the result is that the Project_Readme.html will  **not** be a part of the project. For dotnet new scenarios we should create a `readme.md`.

[2016-11-09 16:12] eriksendc commented on #676
Hi All,

Just wanted to give a +1 to the general idea of not publishing this artifact by default (when creating a new project from scratch). We're in the process of upgrading from rc1 to 1.0.1 RTM and hit this. We'll use the "exclude" section as mentioned above for now. Thanks for having this issue out there, and thank goodness for Google! :)

It'd be great to get an announcement once we change fr

[2016-11-11 20:33] DamianEdwards opened #708 "Only add the ConsoleLogger if IHostingEnvironment.IsProduction() is false"
We should change all the templates so that the console logger is only added in `Startup.Configure` **if** the current environment is not production, e.g.:
[code]

[2016-11-15 02:01] Rick-Anderson opened #709 "update fwlinks on templates"
Create a new web app core project with VS 2015 (or 2017 RC 1)

Conceptual overview of what is ASP.NET Core - http://go.microsoft.com/fwlink/?LinkId=518008
That should be changed to
Conceptual overview of ~~what is~~ ASP.NET Core
I think the link you want is https://docs.microsoft.com/en-us/aspnet/core/

Working with Data -> http://go.microsoft.com/fwlink/?LinkId=398602
should go to https://docs.mi

[2016-11-15 18:21] sayedihashimi commented on #709
I have made the following FWLink updates
518008 -> https://docs.microsoft.com/en-us/aspnet/core/
398602 -> https://docs.microsoft.com/en-us/ef/
398600 -> https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc

@Rick-Anderson where are you seeing the text "Conceptual overview of what is ASP.NET Core"?

[2016-11-15 18:27] rowanmiller commented on #709
The suggested EF link is correct.

[2016-11-15 19:24] Rick-Anderson commented on #709
LGTM

[2016-11-15 23:33] JoyceLiang opened #710 "Add <PackageTargetFallback> to .NETCore Console App template"
Could you add below Fallback element to the template.
`<PropertyGroup>
    <PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81;   </PackageTargetFallback>
  </PropertyGroup>`

[2016-11-16 00:46] natemcmaster opened #711 "Change user secrets API usage"
We made a last-minute change to usage of .AddUserSecrets in MSBuild templates. (https://github.com/aspnet/Templates/pull/701)

For the next template update, we change the usage to `.AddUserSecrets<Startup>()`.

[2016-11-16 23:46] muratg opened #716 "Add global.json back to CSPROJ based projects"
Per Zlatko, this is still supported - at least the "sdk" property.

This is required on environments where multiple SDKs exists. Like Antares.

[2016-11-16 23:48] muratg commented on #716
(Also, could someone from the Tooling team file the corresponding issue on CLI templates?  Not sure what repo they're using for the templates.

cc @blackdwarf

[2016-11-17 22:23] peterblazejewicz commented on #716
https://github.com/dotnet/cli/tree/rel/1.0.0/src/dotnet/commands/dotnet-new

[2016-11-18 15:56] sayedihashimi opened #718 "Make the comment in web.config multiple lines"
In the MVP summit we did a UX study and found that people don't read the comment in web.config about not adding appSettings. If it was more prominent it would be more likely to be read. Also @Andrew-MSFT suggested actually adding <appSettings> in the comment block.

How about this.

[code]

[2016-11-22 19:47] DamianEdwards opened #723 "Templates should use bootstrap columns to set form element width, not CSS max-width property"
Setting the `max-width` of form elements is not the recommend way to set form elements width when using bootstrap.

They currently do this [here](https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/wwwroot/css/site.css#L17).

Instead, they should be putting form elements in `<div>` elements and use bootstrap column width classes to set the desired width, in accordance

[2016-11-22 21:43] phenning opened #724 "WebAPI Org auth template missing references"
Missing references to:

Microsoft.AspNetCore.Authentication.JwtBearer and
Microsoft.Extensions.Configuration.UserSecrets

[2016-11-23 22:58] natemcmaster commented on #711
See https://github.com/aspnet/Announcements/issues/209

[2016-11-28 20:52] #171 closed

[2016-11-29 19:19] mlorbetske commented on #635
This is fixed by the move to msbuild

[2016-11-29 19:19] #635 closed, assigned to nobody

[2016-11-29 19:20] mlorbetske commented on #658
The toolchain for bundler minifier is no longer included in build by default

[2016-11-29 19:20] #658 closed, assigned to nobody

[2016-11-29 19:22] mlorbetske commented on #700
@sayedihashimi what should the content for these be?

[2016-11-29 19:23] mlorbetske commented on #708
Let's include an `appsettings.Development.json` that has these configuration pieces set

[2016-11-29 19:32] mlorbetske commented on #710
/cc: @srivatsn

[2016-11-29 19:32] #693 closed, assigned to nobody

[2016-11-29 21:15] srivatsn commented on #710
@yishaigalatzer @rrelyea @dsplaisted @nguerrera thoughts?

[2016-11-29 21:18] nguerrera commented on #710
I don't think this belongs in the templates. Packages using portable profiles that are compatible with netstandard/netcoreapp should be made to just work by some means other than an artifact in the user's project file. cc @terrajobst

[2016-11-29 22:20] AArnott commented on #710
Thanks for looking, @nguerrera. The idea of getting the build to automatically know what all the fallback frameworks are without the user (Or template) having to specify them sounds good to me.
We have a significant Connected Service feature blocked on this, so getting this resolved in d15prerel soon would calm my nerves significantly for our next prerelease.

[2016-11-29 22:25] nguerrera commented on #710
@AArnott Given that, I'd be OK with adding this to the template as an unblocking mechanism for you, but we should be tracking to get to the right solution by RTW.

[2016-11-29 22:28] srivatsn commented on #710
If we are putting in temp measures I'd rather we put that in the SDK so that we don't pollute users' csproj files.

[2016-11-29 22:28] davidfowl commented on #710
Ugh can we not do this and just fix those packages. It's been over a year now. Let's make it a high priority isssue to track down those packages and fix them.

[2016-11-29 22:28] davidfowl commented on #710
@aarnot which specific packages need these in our default experiences

[2016-11-29 22:28] srivatsn commented on #710
Do we have a list? Last someone checked (for web projects) it was just MEF

[2016-11-29 22:32] dsplaisted commented on #710
Why don't we just fix it in NuGet?  There's no reason you should need a workaround like this to use a perfectly functioning portable NuGet package.

[2016-11-29 22:38] davidfowl commented on #710
Even the seemingly "correct" imports can break your project. They are also order sensitive and depending on the packages you have installed and the order of imports declared, you can get different results. They are a fixed number of imports that are safe (the ones that match exact pcl profile numbers). Anything else is a guessing game.

[2016-11-29 23:09] nguerrera commented on #710
We should make this fixed set just work.

[2016-11-29 23:11] dsplaisted commented on #710
See also dotnet/sdk#391

[2016-11-29 23:21] AArnott commented on #710
@JoyceLiang Can you please provide the transitive closure of nuget packages that you need to install so that @davidfowl can see which ones need to be updated to support the new nuget packaging structure?

I would sure like nuget to support backward compatibility in packaging structure as well. Having nuget package authors repeatedly republish effectively the same version, just to support newer fra

[2016-11-29 23:40] davidfowl commented on #710
@nguerrera one thing I like about imports is that we can do this in the default props without baking it into nuget. Much easier to change.

@AArnott, yes that's why we made netstandard.

[2016-11-29 23:49] dsplaisted commented on #710
@davidfowl

It's easier to change, but I think if the logic is in NuGet then I think we can make it work better than restricting to the PCL profiles that exactly match a .NET Standard version, and without worrying about the ordering of PackageTargetFallbacks.  Also, NuGet is basically becoming the source of truth for determining whether one target framework can reference another, so it makes sense

[2016-11-30 00:13] davidfowl commented on #710
😁, the nuget team can determine how risky the change is. I'm merely a consultant at this point. It should be safe to add though.

[2016-12-05 21:18] natelaff opened #734 "Account - VerifyCode does not use correct returnUrl."
In VerifyCode.cshtml you define the form as

`<form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">`

The ReturnUrl is not in ViewData, you pass it in VerifyCodeViewModel. So the form should use Model.ReturnUrl.

`<form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@Model.ReturnUrl" method="post" role=

[2016-12-06 16:07] scottaddie opened #736 "Incorrect default file names used for item templates"
In VS 2017 RC, the default file names used for many of the item templates (e.g., **Visual C#** --> **ASP.NET Core** --> **Web** --> **General**) are incorrectly suffixed with "1". For example, add a new "npm Configuration File" item template to an ASP.NET Core project and notice that the default file name provided in the *Name* textbox is `package1.json`. Since no `package.json` file exists on dis

[2016-12-06 22:06] AArnott commented on #710
So what is it going to be? I agree adding the project template tag is sub-par. It's quick and easy, but better solutions are:

1. Set the property in the .targets/.props file
1. Enhance the NuGet engine to work better with these legacy packages.
1. Get the several package authors to re-publish with support for netstandard.

I don't know which of these we can get done in a short period of time. We

[2016-12-07 01:38] brockallen commented on #686
This seems to still be a problem in 1.1.0, but under a different scenario. A locally logged in user (with uid/pwd) wants to now associate an external provider with their account. They click "Google", which triggers a challenge. Since they are currently logged in, they get the access denied page (which doesn't exist in the template).

This should allow them to challenge on google and be redirected.

[2016-12-07 04:44] Tratcher commented on #686
@brockallen I can't repro that with the 1.1 packages. I am able to create a user with a password and then add an external identity. I only get AccessDenied if I remove the external identity and try to re-add it, which is a known variation of this issue.

The password login and the external logins use separate cookies, so there's no reason they should conflict like you describe. Can you try again a

[2016-12-07 12:53] brockallen commented on #686
Ok, you are right -- I retested and confirm what you describe. Thank goodness. Thanks.

[2016-12-07 21:10] brockallen commented on #686
I just grabbed this change to the manage controller and still see the issue I described above.

[2016-12-07 21:54] Tratcher commented on #686
I think the new SignOutAsync needs to go in ManageLogins instead of LinkLogin. You can't SignOut and Challenge on the same response, SignOut requires a round trip to remove the identity.

[2016-12-08 02:53] scottaddie opened #738 "Replace ASP.NET 5 references in Wiki's Home.md"
There are 3 references to "ASP.NET 5" on the Wiki homepage, which should be replaced with "ASP.NET Core".

[2016-12-09 05:28] vijayrkn opened #739 "Remove PreserveCompilationContext from templates"
https://github.com/aspnet/websdk/issues/77

[2016-12-09 16:02] phenning commented on #738
Updated wiki

[2016-12-09 16:02] #738 closed, assigned to nobody

[2016-12-13 18:55] phenning commented on #724
Fixed by 41bbdf3d6f78944a85e656bd358500e69c6ceaee

[2016-12-13 18:55] #724 closed, assigned to nobody

[2016-12-13 19:16] phenning commented on #709
@Rick-Anderson, can you clarify

"Add an appsetting in config and access it in app. Remove this link - it's not useful"

Which fwlink are you referring to here, do we want to link removed, or just updated?

[2016-12-13 19:37] phenning commented on #663
@yaronpr Were you able to resolve this?

[2016-12-13 19:39] phenning commented on #652
@mbharodia Were you still blocked by this issue?

[2016-12-13 19:58] #645 closed, assigned to nobody

[2016-12-13 19:58] #643 closed, assigned to nobody

[2016-12-13 19:59] phenning commented on #644
This is fixed in current releases

[2016-12-13 19:59] #644 closed, assigned to nobody

[2016-12-13 20:00] #529 closed, assigned to nobody

[2016-12-13 20:02] phenning commented on #580
This is fixed with new CLI

[2016-12-13 20:02] #580 closed, assigned to nobody

[2016-12-13 20:19] #567 closed, assigned to nobody

[2016-12-13 20:19] phenning commented on #59
Our team does not own the console templates any more.

[2016-12-13 20:19] #59 closed

[2016-12-13 20:21] #138 closed

[2016-12-13 20:21] phenning commented on #103
By design, in fact we create the db when the register is hit for the first time,

[2016-12-13 20:21] #103 closed

[2016-12-13 21:07] #718 closed, assigned to nobody

[2016-12-13 21:07] #711 closed, assigned to nobody

[2016-12-13 21:08] #685 closed, assigned to nobody

[2016-12-13 21:08] #649 closed, assigned to nobody

[2016-12-13 21:08] #614 closed, assigned to nobody

[2016-12-13 21:17] mbharodia commented on #652
No. Thanks for have a look at it.

From: Phil Henning [mailto:notifications@github.com]
Sent: Tuesday, December 13, 2016 12:39 PM
To: aspnet/Templates <Templates@noreply.github.com>
Cc: Mayur Bharodia <mayur@interactiveinterfaces.ca>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/Templates] Microsoft.Extensions.Options.ConfigurationExtensions v 1.0.0 (#652)

@mbharodia<https://github.c

[2016-12-13 21:19] #739 closed, assigned to nobody

[2016-12-13 21:30] #734 closed, assigned to nobody

[2016-12-13 21:44] yaronpr commented on #663
Yes. I used different base image ...

[2016-12-13 23:11] phenning opened #749 "Use Microsoft.AspNetCore Metapackge in templates"

[2016-12-13 23:14] phenning opened #750 "Move jquery.validation and jquery.validation.unobtrusive to Base StarterWeb template"
@DamianEdwards mentioned that we should move this to the base template instead of just being in individual auth because various MVC features rely on them to be there.

This would result in rolling back the commit from #747 and additionally moving Views\Shared\_ValidationScriptsPartial.cshtml to the base template

[2016-12-13 23:19] phenning commented on #750
//cc @mlorbetske, @Eilon @davidfowl

[2016-12-13 23:31] phenning commented on #749
This package pulls in the following packages, so these can be removed from the templates:

        <dependency id="Microsoft.AspNetCore.Diagnostics" version="[1.0.1, )" />
        <dependency id="Microsoft.AspNetCore.Hosting" version="[1.0.1, )" />
        <dependency id="Microsoft.AspNetCore.Routing" version="[1.0.2, )" />
        <dependency id="Microsoft.AspNetCore.Server.IISIntegration" versio

[2016-12-13 23:52] #652 closed, assigned to nobody

[2016-12-13 23:57] #663 closed, assigned to nobody

[2016-12-14 01:49] #750 closed, assigned to nobody

[2016-12-14 06:06] Rick-Anderson commented on #709
Sorry, my bad. In the template generated web app
_Views\Home\Index.cshtml_
remove the following:
            `<li><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>`

[2016-12-14 17:56] #749 closed, assigned to phenning

[2016-12-15 23:51] #438 closed, assigned to nobody

[2016-12-16 22:31] #667 closed, assigned to nobody

[2016-12-16 22:31] #709 closed, assigned to nobody

[2016-12-18 13:44] mlorbetske commented on #676
Just merged the PR to exclude this from publish by default. Thanks for pointing this out! This change should be available in the next release of Visual Studio 2017

[2016-12-18 13:44] #676 closed, assigned to nobody

[2016-12-19 17:03] phenning commented on #736
This is resolved in the next VS 2017 release

[2016-12-19 17:03] #736 closed, assigned to nobody

[2016-12-19 17:04] scottaddie commented on #736
@mlorbetske @phenning Thank you for the quick turnaround on this one!

[2016-12-19 22:52] #708 closed, assigned to nobody

[2016-12-20 17:58] scottaddie opened #766 "Wiki update needed to "How to run generated samples""
The Wiki's **Command Line** section [here](https://github.com/aspnet/Templates/wiki/Building-and-Running#command-line) references an invalid directory path. Replace the following:

C:\git\Templates\intermediate\\**Test**\StarterWeb [dev]> dotnet run

With this:

C:\git\Templates\intermediate\\**ProjectTemplates**\StarterWeb [dev]> dotnet run

![projecttemplates](https://cloud.githubusercontent.com

[2016-12-20 18:26] scottaddie opened #767 "Update Template dependencies table in Wiki"
The **Template dependencies** table [here](https://github.com/aspnet/Templates/wiki/Template-dependencies) still assumes that `gulpfile.js` is part of the project templates. In addition to the "from gulp" bullet point, the following 5 table rows should be removed:
1. gulp
2. rimraf
3. gulp-concat
4. gulp-cssmin
5. gulp-uglify

[2016-12-21 09:48] olivif opened #768 "Make templates StyleCop ready"
I enabled StyleCop on the sample ASP.NET Core web app and I have 800 StyleCop warnings 😢

It would be awesome if these were StyleCop ready.

[2016-12-21 18:00] phenning commented on #768
Classes of Stylecop warnings we are seeing:

warning SA1652: Enable XML documentation output
warning SA1633: The file header is missing or not located at the top of the file.
warning SA1200: Using directive must appear within a namespace declaration
warning SA1101: Prefix local calls with this
warning SA1513: Closing brace must be followed by blank line (Individual Auth Account Controller)
warning

[2016-12-21 23:09] phenning commented on #767
Updated!

[2016-12-21 23:09] #767 closed, assigned to nobody

[2016-12-26 20:39] DamianEdwards opened #771 "Add the HttpContext.TraceIdentifier to the default error page"
This is a common practice on customer-facing error pages to aid in analysis.

[2017-01-04 00:22] sayedihashimi opened #776 "Update css file for project overview page"
We have a new css file that should be used in the Project Overview page. @mlorbetske has the .css file in his inbox.

I've attached the .css file at [Provider_stylesheet.css.txt](https://github.com/aspnet/Templates/files/683603/Provider_stylesheet.css.txt). Note: to upload here I had to change the extension from `.css` to `.css.txt`.

[2017-01-04 23:14] dsplaisted opened #777 "Remove Microsoft.NETCore.App package reference from templates"
As of https://github.com/dotnet/sdk/pull/450, the Microsoft.NETCore.App package will be referenced implicitly when targeting netcoreapp.  So the PackageReference for it can be removed from the templates.

@mlorbetske @vijayrkn

[2017-01-04 23:32] vijayrkn commented on #777
@phenning

[2017-01-05 17:04] sayedihashimi opened #778 "Add a web.config item template"
We should add item template for the `web.config` file. I'm still working on finalizing the content, but my proposal for file content is below. Note: related to this we are hoping to make some updates where the `web.config` will not be required, and at that time we will be removing it from the project template. So when that happens we certainly need an item template for this.

[code]

[2017-01-06 08:21] mlorbetske commented on #777
This is done and inserted, available in builds 26015.6 and higher @dsplaisted

[2017-01-06 08:21] #777 closed, assigned to nobody

[2017-01-06 18:43] #586 closed, assigned to sayedihashimi

[2017-01-10 17:53] phenning opened #786 "Consider removing Microsoft.EntityFrameworkCore.Design as an explict package reference"
This gets brought in by Microsoft.EntityFrameworkCore.Tools. Make sure this works for both 1.0.3 and 1.1 versions of the package

[2017-01-10 19:21] phenning commented on #776
Fixed

[2017-01-10 19:21] #776 closed, assigned to nobody

[2017-01-10 22:46] phenning commented on #669
This isn't needed

[2017-01-10 22:46] #669 closed, assigned to nobody

[2017-01-12 23:18] phenning commented on #778
Fix checked in for RTW

[2017-01-12 23:18] #778 closed, assigned to nobody

[2017-01-15 14:59] rtpHarry opened #790 "Typo in Templates/src/Rules/StarterWeb/IndividualAuth/Views/Manage/Index.cshtml"
The text says:

It should be:

[2017-01-17 15:29] #790 closed, assigned to nobody

[2017-01-18 20:18] blowdart opened #793 "ExternalLoginConfirmation breaks if the username is already taken"
Copied from https://github.com/aspnet/Identity/issues/1080

Repro:

Login with a new Facebook account
In the "ExternalLoginConfirmation" page enter an email that already exists on the system
Press Register
The page reloads, the validation error is displayed saying "User name 'blah@example.com' is already taken." and all of the ViewData is now lost including the ReturnUrl of the form and the LoginP

[2017-01-21 23:04] Ponant commented on #651
http://stackoverflow.com/questions/38346452/geochart-google-visualization-not-showing-certain-countries-in-asp-net

[2017-01-21 23:04] #651 closed, assigned to nobody

[2017-01-22 14:26] rtpHarry opened #797 "ReturnUrl is lost if GetExternalLoginInfoAsync fails in AccountController.ExternalLoginCallback"
It's probably not very likely that it will occur but as it attempts to recover by sending you back to the login page rather than erroring out it should preserve the return url.

[2017-01-24 21:25] peterblazejewicz commented on #700
@mlorbetske the generator content used scrapped version of html page converted to markdown:
https://github.com/peterblazejewicz/missing-aspnet-readme

[2017-01-25 19:32] HaoK opened #804 "AccountController ForgotPassword should check the UserId before ResetPassword"
Moved from: https://github.com/aspnet/Home/issues/1911#issuecomment-275184195

Today we are passing in the userId from ForgotPassword:  https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L282

But not using it when we reset: https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.c

[2017-02-01 02:05] sayedihashimi opened #808 "Error on F5 when using Work or School Single Org with Read"
Here's an issue from an internal partner, we have an existing email thread that a few of us are on.

I am trying to create a simple web application and register it with an Azure Active directory like I've done many times in the past. I've started to run in to problems, not sure if its because the framework version or what it may be.

Here are my steps.

1. Create a new Azure AD, add a new user.
2.

[2017-02-02 23:47] sayedihashimi opened #813 "Change "Web API" to "API""
We should change "Web API" to "API" in the One ASP.NET dialog.

Note: all credit goes to @blowdart for noticing this.

[2017-02-03 02:15] Rick-Anderson opened #814 "Removing ApplicationInsights (AI) from template generated project not straightforward."
Microsoft Visual Studio Enterprise 2017 RC3

It's a bit confusing trying to remove AI from a simple project. Removing the two AI references in *Views\Shared\_Layout.cshtml* are not obvious. When you remove
[code]

The compiler takes you to ` .UseApplicationInsights()` in `Main()`.

After removing that you get this stack trace (cut off)
[code]

I was expecting to find AI registered in `ConfigureSer

[2017-02-03 17:22] phenning commented on #814
@mlorbetske
We should follow up with the Application Insights owners for both aspects of this issue since there now is no longer an option to opt out of AI.

[2017-02-05 01:29] scottaddie commented on #814
There really should be a checkbox in the project template dialog which allows you to disable Application Insights. This used to exist (at least in VS 2015). I'd recommend putting it near the "Enable Docker Support" checkbox. For enterprise customers with an alternative APM solution, this will be an annoyance.

[2017-02-06 17:09] prafullbhosale commented on #625
This is fixed in VS 2017 RC.3

[2017-02-06 17:09] #625 closed, assigned to prafullbhosale

[2017-02-12 03:42] #123 closed

[2017-02-15 17:06] SailleshPawar commented on #580
Hi Team,

This issue seems to be still persistent, I am using "version": "1.0.1" when project name with spaces.

[2017-02-15 17:56] phenning commented on #808
Note, that this is only an issue with the legacy templates, which are not maintained in the repo.

[2017-02-15 18:04] phenning commented on #580
@SailleshPawar

Could you please provide the following information in order to help us track down why this is still occurring for you.

Visual Studio Version
Version returned by "dotnet --version"

If you happen to have a repro project, that would also help in diagnosing the problem.

[2017-02-15 18:30] SailleshPawar commented on #580
Hi @phenning
I am using VS 2015
dotnet version: 1.0.0-preview2-003131

[2017-02-15 18:47] SailleshPawar commented on #580
@phenning
I targeted dotnet version to:
1.0.0-preview2-1-003177
But this issue seems to be persist with below error
Severity	Code	Description	Project	File	Line	Suppression State
Error	 deps.json' could not be found.	 C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Common.Targets	262

[2017-02-15 20:44] phenning commented on #580
Since you are running VS 2015, can you please update to a more current LTS build and see if this resolves the problem?

Download page here: https://www.microsoft.com/net/download/core#/lts

Note that this issue has been fixed in the version of the dotnet which is shipping in VS 2017.

[2017-02-16 18:13] SailleshPawar commented on #580
With current LTS build also I am not able to resolve the issue. After updating packages and targeting "1.0.0-preview2-003156"  one more error occurred along with old one

"Severity	Code	Description	Project	File	Line	Suppression State
Error		E:\ASP NET CORE\src\ASP NET CORE\error CS2001: Source file 'E:\ASP NET CORE\src\ASP NET CORE\NET' could not be found.	ASP NET CORE	C:\Program Files (x86)\MSBui

[2017-02-16 21:28] SailleshPawar commented on #580
@phenning- Any solution for the same for VS 2015

[2017-02-16 23:34] sayedihashimi commented on #580
The workaround here is to rename the project right @phenning?

[2017-02-16 23:58] phenning commented on #580
I believe that is the only workaround for VS2015.

In VS2017, spaces are supported as expected.

[2017-02-17 06:35] Tratcher opened #818 "Home/Error requires Authorization, creating infinite loops for authentication errors"
If you have errors during authentication it can throw exceptions. In Production these are caught by `app.UseExceptionHandler("/Home/Error");` and re-executed. However, Home/Error requires Authorization and you get stuck in an infinite loop.
https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/OrganizationalAuth/Single/NoRead/Startup.cs
https://github.com/aspnet/Templates/blob/dev/src/

[2017-02-17 14:39] blowdart commented on #818
Hmm, I wonder if it's worth overriding the authorize attribute on whatever the exception handler route is, even if you have set it.

[2017-02-17 18:13] sayedihashimi commented on #580
@SailleshPawar thanks a lot for taking the time to post this and the follow ups. We posted about the conversion of `project.json` to `.csproj` a few months back, take a look at https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/.
Most investment around .NET Core tooling is happening on top of `.csproj`. For `project.json` scenarios in .NET Core we are only addressing really

[2017-02-17 20:08] SailleshPawar commented on #580
@sayedihashimi  Thanks for replying sir
 Tried workaround with empty deps.json it worked for me.
Thanks for your valuable time and update regarding the .csproj. For project.json.

[2017-02-20 18:34] ardalis opened #824 "Use AutoValidateAntiforgeryToken in Templates"
Instead of explicitly using ``ValidateAntiForgeryToken`` on every ``HttpPost`` method in controllers that accept posts, instead use ``AutoValidateAntiforgeryToken`` attribute at controller level (e.g. https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/ManageController.cs) or consider adding it globally in ``Configure`` when MVC is configured.

Currently [V

[2017-02-23 16:03] phenning commented on #818
Should we just set AllowAnonymous on the Error Action on the controller?

[2017-02-27 23:47] glennc opened #827 "Add Activity information to generated error page"
Part of finishing the e2e for https://github.com/aspnet/Hosting/issues/939 we want to modify the generated error page in ASP.NET Core applications to contain information about the current activity.

[2017-03-01 22:55] natemcmaster opened #828 "Remove dependency on Sake"
We are deprecating Sake in KoreBuild. See https://github.com/aspnet/KoreBuild/issues/174

It appears this repo only uses Sake as a shim into calling MSBuild anyways, so it should be trivial.

[2017-03-02 02:58] dougbu opened #829 "ASP.NET Core Web Application templates don't need `RuntimeIdentifer` properties"
Undo #683 since dotnet/sdk#396 has been fixed. That is, ASP.NET Core Web Application templates no longer need
[code]

[2017-03-05 18:00] guardrex opened #831 "What Identity LogOff behavior should templates (and samples) adopt?"
TL;DR https://github.com/aspnet/Docs/issues/2867 (*big time* :smile: ... I'll summarize the issue here)

The [Introduction to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity) doc sample might have been derived from the Identity sample and that sample's `AccountController`, which uses this [`LogOff` action](https://github.com/aspnet/Identity/blob/dev/samples/

[2017-03-06 07:59] Ponant opened #832 "RequireConfirmedEmail makes little sense with external providers"
If we set `RequireConfirmedEmail=true`, a user logging in via an external provider will eternally loop on the `Account/ExternalLoginConfirmation` page and will be replied that the UserName is already taken (at second login). This makes little sense to me because a user using an external provider is using it to avoid all the fuzz around email confirmation.

[2017-03-06 09:28] Ponant commented on #365
When will this be addressed? It is one year old. A related issue [https://github.com/aspnet/Templates/issues/832](https://github.com/aspnet/Templates/issues/832) .

[2017-03-07 19:00] #829 closed, assigned to seancpeters

[2017-03-07 19:35] #818 closed, assigned to nobody

[2017-03-08 17:40] vijayrkn opened #833 "Remove PackageTargetFallback from Web Templates"
Moving this issue to the templates repro: https://github.com/aspnet/websdk/issues/76

[2017-03-08 23:00] glennc commented on #827
@phenning would this be you?

[2017-03-11 00:48] brentarias opened #834 "MSBUILD : error MSB4025: The project file could not be loaded. Data at the root level is invalid. Line 1, position 1"
This issue is similar(?) to [another issue by the same name posted to aspnet/javascript services](https://github.com/aspnet/JavaScriptServices/issues/495).  The solutions posted there are not applicable for my scenario.

I have Visual Studio 2015 Update 3 installed. I __do not__ have Visual Studio 2017 installed.  The `ASP.NET Core Web Application (.Net Framework)` is creating new projects that ar

[2017-03-13 00:10] brentarias commented on #834
I found the solution.  My Visual Studio had "Microsoft ASP.NET and Web Tools" extension version 14.1.20512.0 installed.  I upgraded to 14.1.2111.0 and I was then able to create an ASP.NET project from a template, and watch it successfully restore and build.

In case it helps someone, the VS extension upgrade exe has two other names:

 * VS2015Tools.Preview2.0.3.exe
 * DotNetCore.1.0.1-VS2015Tools.

[2017-03-14 02:06] kstreith opened #835 "StarterWeb template isn't bundling on build"
The StarterWeb template includes bundleconfig.json, site.min.js and site.min.css. Yet, the templates aren't performing bundling on build or publish to create updated versions of the minified files.

It appears the fix is to add `<PackageReference Include="BuildBundlerMinifier" Version="__version__" />` to the .csproj. Is this an accidental oversight with the templates?

I'm using the templates in

[2017-03-14 17:34] mlorbetske commented on #834
The solution here is correct, please always use the latest version of the tools to ensure the best experience

[2017-03-14 17:34] #834 closed, assigned to nobody

[2017-03-14 17:36] mlorbetske commented on #835
cc @madskristensen

[2017-03-14 19:12] shravan2x commented on #835
I have the same problem (And was just about to post an issue myself). This works too:

[code]

[2017-03-15 15:29] sayedihashimi commented on #835
I'm not sure if calling Exec here to set the path will impact the second call to `dotnet bundle`.

[2017-03-17 20:15] phenning commented on #827
@glennc  I was looking at the linked bug, but I wasn't able to see what exactly we need to do here. Has anyone on the runtime team done anything meaningful with the existing error page which shows how we want to update the templates?

[2017-03-17 20:16] phenning commented on #771
Does this relate to #827, or is this something entirely different?

[2017-03-17 20:16] #716 closed, assigned to nobody

[2017-03-17 20:18] phenning commented on #650
@mlorbetske This was implemented in the SDK? Closable?

[2017-03-17 20:18] #671 closed, assigned to sayedihashimi

[2017-03-17 20:19] phenning commented on #671
@sayedihashimi Closing this, as I think we have achieved all this given the scope

[2017-03-17 20:35] madskristensen commented on #689
@phenning was this fixed?

[2017-03-17 21:12] phenning commented on #689
@madskristensen actually, I think I closed the wrong issue

[2017-03-17 21:13] phenning commented on #689
@madskristensen but looping back anyway, have we gotten any consensus whether we actually do want to do this?

@DamianEdwards @davidfowl

[2017-03-17 21:16] davidfowl commented on #689
Yes, we want leave it as is.

[2017-03-17 21:26] madskristensen commented on #689
@davidfowl What benefit does program.cs give to the average ASP.NET Core customer? To me it adds the noise of an extra file that is unlikely to ever be edited

[2017-03-17 21:42] davidfowl commented on #689
There's a separation between the hosting code and program main. There are 2 separate wolds and should be treated as such. Services and configuration in the host don't flow to the application and merging the 2 things blurs that.

[2017-03-17 21:54] madskristensen commented on #689
I understand the differences between the concerns of the two files, but what benefit does the user get? My argument is that while it might be more "correct" to keep 2 files, the noise added is worse than the "incorrectness" of combining them.

[2017-03-18 07:39] leastprivilege commented on #689
Omg. Keep them separate of course.

[2017-03-18 07:40] davidfowl commented on #689
@leastprivilege knows what's up 😄

[2017-03-18 07:43] leastprivilege commented on #689
Let's also merge our HTML, CSS and js into a single file. Too much noise to have them separate ;)

[2017-03-18 12:52] madskristensen commented on #689
@leastprivilege what do you think is the benefit of program.cs to the average ASP.NET Core customer?

[2017-03-18 13:19] leastprivilege commented on #689
As David already said - there's a clear separation of concerns.

Since you already said you understand that, I don't have to re-iterate. You seem to indicate that the "average" ASP.NET Core "customer" doesn't care.

Maybe we should stop dumbing down technology - with customers I guess you mean developers - we know what program.cs is and what static void main is as well. Nobody will be disturbed by

[2017-03-20 15:03] madskristensen commented on #689
This is a controversial subject and one that has been discussed before. I don't feel passionate enough about the issue to open another discussion on it at this time.

Closing the issue

[2017-03-20 15:03] #689 closed, assigned to nobody

[2017-03-22 16:27] mlorbetske opened #836 "Create 2.0 templates"
Related to https://github.com/dotnet/templating/issues/466

[2017-03-22 17:16] brockallen commented on #814
It would be nice if 1) this is a checkbox, and 2) the checkbox is hidden if your install of VS has no azure components installed. You should be able to detect if the developer tends to use azure or not, and if not completely hide this all together.

[2017-04-04 03:01] Tratcher opened #837 "Remove UseIISIntegration from the templates, use lightup instead"
Once the following work items are complete we can remove UseIISIntegration from the templates and have it use automatic lightup instead.
https://github.com/aspnet/IISIntegration/issues/348
https://github.com/aspnet/AspNetCoreModule/issues/81

[2017-04-06 15:06] rynowak opened #838 "Add RazorPages artifacts to templates"
Details to follow

/cc @DamianEdwards

[2017-04-10 23:36] Neftedollar commented on #556
Hi, is any progress with this feature?

[2017-04-11 21:01] rynowak commented on #838
Assigned @glennc - as he's already doing this.

[2017-04-12 10:52] mota57 commented on #199
this is 2017 and when I go to the menu 'add new item' in vs 2017 I can't find a option to create a resource file. Why is that? what is the solution?

[2017-04-13 07:39] shravan2x commented on #814
I agree with everything here. I'll even say the checkbox should be unchecked by default. Every template I use includes AI and BrowserLink and I barely even have an idea what they are. I don't want to have two unnecessary packages in all my projects.

[2017-04-13 14:05] mlorbetske commented on #814
The direction we're heading is that AI won't be included in the new templates & can be turned on via a "platform lightup" - effectively that it'll be able to be turned on/off without code changes. At the moment, I'm not certain what the plan is for .NET framework and .NET Core 1.x templates in that regard though as the platform lightup is, I believe 2.0 specific.

[2017-04-14 05:19] daspuru opened #839 "Can not open in Visual Studio for Mac"
Hi,

Is there a way to open these solutions in Visual Studio for Mac?

Opening Templates.Test gives the following errors (See image below)

<img width="575" alt="screen shot 2017-04-14 at 12 18 41 am" src="https://cloud.githubusercontent.com/assets/24983936/25033918/fa7cb7ca-20a7-11e7-97f3-5e539d4161d2.png">

Thanks

[2017-04-14 22:36] DesktopMan opened #840 "Core MVC template database file name starts with a backslash on Linux/Mac"
From the template's appsettings.json:

[code]
This has two presumably unintentional consequences: The file becomes hidden and the name starts with a backslash. My students had trouble finding the file to inspect it until I pointed this out.

[2017-04-16 07:29] SychevIgor commented on #814
It's super important... now it's looks like noisy spam.

[2017-04-17 18:16] rynowak commented on #838
https://github.com/dotnet/templating/pull/565

[2017-04-19 22:13] jbagga opened #842 "Remove @inject and @HtmlRaw(JavaScriptSnippet) for App Insights from _Layout.cshtml"
The JavaScriptSnippet will be injected as a `TagHelperComponent` as part of this issue: https://github.com/aspnet/AzureIntegration/issues/25

`@inject` and `@HtmlRaw(JavaScriptSnippet.FullScript)` in the `_Layout.cshtml` should be removed after the changes are merged.

cc @Eilon @DamianEdwards

[2017-04-22 00:16] Rick-Anderson commented on #551
Can we address many of these issues by documenting this page?  You could add a fwlink to the management page. Let me know if I should create an issue in https://github.com/aspnet/Docs to document  how all this works and maybe some tips on customizing it.

[2017-04-22 01:15] Rick-Anderson opened #843 "Nav bar covers top of screen"
![image](https://cloud.githubusercontent.com/assets/3605364/25300177/126fdf9e-26a5-11e7-9690-747ab1e80adb.png)

To repro:

Create a new MVC web app with all the defaults. Narrow the screen and hit the nav bar.

#626 might make this moot.

If you don't want to change the template we should at least document how you could change this.

cc  @Drek1Droid

[2017-04-22 14:10] Drek1Droid commented on #843
If you have enough links, and a long enough email address used in the greeting on the nav bar, you don't have to hit the nav bar to see the effect as simply narrowing the screen will cause the nav bar to double in height, obscuring the body content below.
Normal:

![nav1](https://cloud.githubusercontent.com/assets/8053879/25305128/9b150e48-272a-11e7-87a1-63aed4feddfa.PNG)
After narrowing:

![nav](

[2017-04-24 22:13] #836 closed, assigned to nobody

[2017-04-25 21:32] jbagga commented on #842
Closing this as it's done as part of https://github.com/dotnet/templating/commit/c905b33a22fa9efd6dd73eb5d92753e3acd5cef0

[2017-04-25 21:32] #842 closed, assigned to jbagga

[2017-05-14 09:13] shravan2x commented on #814
Is BrowserLink is a component of ApplicationInsights? Would this be disabled by default as well with the "platform lightup" feature?

Ref: https://github.com/aspnet/Mvc/issues/5999

[2017-05-14 17:48] mlorbetske commented on #814
@shravan2x BrowserLink is not a component of AI. Adding @jodavis and @madskristensen to speak to plans in that space.

[2017-05-17 11:09] Ponant commented on #406
Any news about this? I think it is pretty important to have this capability. :)

[2017-05-20 05:59] mlorbetske commented on #406
@sayedihashimi thoughts?

[2017-05-25 09:22] mohisaini commented on #268
[glyphicons-halflings-regular.zip](https://github.com/aspnet/Templates/files/1028515/glyphicons-halflings-regular.zip)
Check font files in attached zip file, and add these into your local font folder.

[2017-06-01 13:28] a-elnajjar opened #847 "Post test"
Hi asp.net Team;
I see your Templates/test/Microsoft.Web.Templates.Web.Tests/WebAPITests.cs only have tow test methods for testing and verify GET Web API is working. I want to ask can I add testing and verify methods for POST Web API?

[2017-06-02 15:14] #838 closed, assigned to glennc

[2017-06-05 10:55] neman opened #848 "Wrong CLI command for template installation at nuget.org"
When I go tu nuget.org to search for some template I got the following page for link https://www.nuget.org/packages/NetEscapades.Templates/

![image](https://cloud.githubusercontent.com/assets/350314/26781234/bf4cc98c-49ed-11e7-9e4a-08bb168b6c62.png)

The command instruct to use `Install-Package NetEscapades.Templates` which does not work.

[code]
The correct command is `dotnet new --install "NetE

[2017-06-05 12:08] neman opened #849 "Unable to install nuget template"
I created nuget template. When I try to install it, I got the following error at the end

[code]

#### dotnetinfo

[code]

[2017-06-05 12:13] #848 closed, assigned to nobody

[2017-06-05 12:14] #849 closed, assigned to nobody

[2017-06-06 16:59] mlorbetske opened #850 "File new default names inconsistency."
_From @Bartmax on July 24, 2015 2:48_

All items in the file new dialog (client side) default names kind of follows a pattern but it's not consistent:

StyleSheet.css
JavaScript.js
htmlpage.html (all lowercase)
CoffeeScript.coffee
json-schema.json
package.json
etc.

Some must have a specific name (like package.json) while others just reflect the file type.

I see 2 inconsistencies here:

1) casing

[2017-06-06 16:59] mlorbetske commented on #850
_From @sayedihashimi on July 24, 2015 3:22_

@rustd?

[2017-06-06 16:59] mlorbetske commented on #850
_From @sayedihashimi on June 14, 2016 20:25_

TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=231271&fullScreen=false&_a=edit">231271</a>

[2017-06-06 16:59] mlorbetske commented on #850
_From @sayedihashimi on January 9, 2017 21:43_

Sorry for the delay here. We haven't improved this yet, but it's on my radar.

[2017-06-06 16:59] mlorbetske commented on #850
_From @webtools-bot on March 28, 2017 18:5_

The GitHub Issue Tracker for the aspnet/Tooling repo is being deprecated in favor of [Visual Studio's Report a Problem tool](https://developercommunity.visualstudio.com/).

If this issue is still a problem with the RTW release of Visual Studio 2017, please report a new issue using the [Report a Problem tool](https://developercommunity.visualstudio.com/)

[2017-06-06 17:49] mlorbetske commented on #847
Sure, we'd love a PR for this

[2017-06-06 18:06] mlorbetske commented on #839
It looks like `dotnet migrate` should be run on these projects to create csproj files for VS to open. It'd probably be ideal if it ran it for you.

@phenning it looks like there are `xproj`s being generated here - is that right?

/cc @mhutch

[2017-06-06 20:28] mhutch commented on #839
Yes, VS for Mac does not support project.json, you should upgrade to csproj.

[2017-06-09 07:30] Ponant commented on #551
OK, a template is a template but if a template is to be given it should at least be self-consistent from a-z, otherwise the lack of consistency in identity/security mgt will backfire on MS sooner or later.
Here is a list of issues which could be gathered here (at least for the purpose of cleaning up things in the repos):
https://github.com/aspnet/Templates/issues/365
https://github.com/aspnet/Temp

[2017-06-13 17:01] terrajobst commented on #710
Should this be closed now? I think we a different route.

[2017-06-13 18:32] AArnott commented on #710
I don't think this is resolved yet. Last I tried, this property is still required to install PCL packages into netstandard or netcoreapp projects.

[2017-06-15 21:27] mikes-gh commented on #814
I just spent 30 ,its working this out.  IMHO Application Insights should not be included by default.

[2017-06-25 01:13] SteveDesmond-ca opened #851 "Why do non-sentence headers end in a period?"
See https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Views/Account/ResetPasswordConfirmation.cshtml as an example -- almost all the `<h1>`s have periods after them, when they should more likely be Title Case with no period.

[2017-06-28 17:56] danroth27 commented on #832
@HaoK

[2017-06-28 19:09] HaoK commented on #832
The idea is that no SignInManager apis that return SignInResults will allow sign in for users who don't have confirmed emails.  They will return NotAllowed.

Why do you set RequireConfirmedEmail to true, if you don't want to ensure all users's have confirmed emails?

[2017-06-28 19:10] brockallen commented on #832
Email is needed for password reset. If you use an external provider you have no password. That's why this flag makes little sense for users that only have external accounts (and no password).

[2017-06-28 19:27] HaoK commented on #832
So the underlying issue is that SignInManager.ExternalSignIn should not block sign's based on this flag.

[2017-06-28 19:36] blowdart commented on #832
Yea, we need to separate out confirmed account and confirmed email. Then confirmed email address can be used for things like marketing emails, and keep the EU regulations happy, as well as password resets. Confirmed account would be separate, and set on either an email link click for local accounts, or always for external logins (by default). This will take changes in identity as well as the templ

[2017-06-28 19:37] HaoK commented on #832
Moving to: https://github.com/aspnet/Identity/issues/1291

[2017-06-28 19:37] #832 closed, assigned to nobody

[2017-06-28 19:41] Ponant commented on #832
Yes as said above, I already mentioned EU regulations in some other issue.

[2017-07-07 17:46] #503 closed, assigned to nobody

[2017-07-07 17:51] #640 closed, assigned to nobody

[2017-07-07 17:52] phenning commented on #116
Test projects are now also available in VS

[2017-07-07 17:52] #116 closed

[2017-07-07 17:53] phenning commented on #118
Fixed in new templates

[2017-07-07 17:53] #118 closed

[2017-07-07 17:57] #828 closed, assigned to nobody

[2017-07-19 13:49] dazinator opened #854 "typescript confiugration file item template"
When the typescript configuration file is added to a project, by default it is "content" which also by default means it ends up being included in the nuget package when you do a `dotnet pack`. Given that the typescript configuration file is used primarily at build time, I don't think it should be included in a resulting nuget pack by default. Can it be changed to create this in the `csproj`:

[cod

[2017-07-19 18:37] jkotalik opened #855 "File new template error for Windows 8.1 32 bit for individual auth."
Steps:

1. Download VS2017 Int Preview and dotnet preview3 on Windows 8.1 32 bit.
2. File new... ASP.NET Core app, Web Application with Individual User Accounts Authorization
3. Run application, try to register a new user

Expected Results: A page would show up saying to apply migrations to the database or the user is registered.
Actual Results: SqlException on the SQL Server not being found.
![4f

[2017-07-19 18:49] jkotalik commented on #855
Seems to be also occurring on Win10 via @Tratcher

@danroth27 , thoughts?

[2017-07-19 19:23] danroth27 commented on #855
@divega @bricelam @ajcvickers Any ideas on this one?

[2017-07-19 19:36] ajcvickers commented on #855
I have not seen VS install anything other than mssqllocaldb. If VS is starting to install something different, then this will impact a lot of things--including older templates.

@bricelam @divega Are you guys aware of any change in what SQL Server version/instance VS is installing?

[2017-07-19 19:39] ajcvickers commented on #855
Answer [here](https://stackoverflow.com/questions/27197359/localdb-sql-server-2014-express-creates-2-instances-localdb-projectsv12-loc) from @ErikEJ indicates that the ProjectsV12 instance should not be used by applications.

[2017-07-19 20:13] bricelam commented on #855
Weird. Does manually installing the 32-bit version of LocalDB help? Might be a setup issue.

[2017-07-19 21:25] ajcvickers commented on #855
Maybe it depends on which workloads are selected in the VS install?

[2017-07-19 21:27] jkotalik commented on #855
Seems to have been installed through setup. SQL Server Express 2016 localDB is checked. I will try to install the individual component and see from there.

[2017-07-19 21:29] jkotalik commented on #855
Typing sqllocaldb into the command prompt worked too.

[2017-07-20 05:29] ErikEJ commented on #855
Not sure it is relevant, but SQL 2016 LocalDb is only 64 bit, so cannot be installed on a 32 bit system. (SQL 2014 LocalDB comes with both 32 and 64 bit editions)

[2017-07-20 08:45] mlorbetske commented on #854
This issue was moved to aspnet/websdk#222

[2017-07-20 08:45] #854 closed, assigned to nobody

[2017-07-20 15:59] Tratcher commented on #855
In my case I was trying to port a sample from 1.1 to 2.0 (https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro) and it wasn't able to create the database because A) Startup was trying to access the database and B) Program.Main was using the 1.1 pattern.

[2017-07-20 16:19] ajcvickers commented on #855
@ErikEJ Very interesting. Do you know if VS 2017 installs 2014 LocalDb on a 32-bit system, or does it just not install any LocalDb?

[2017-07-20 16:24] jkotalik commented on #855
It seems that my application defaulted to SQL Server 2014. I'm going to try to repro on another Windows 8.1 machine.

[2017-07-20 17:20] ErikEJ commented on #855
@ajcvickers  It does not, SQL Server Express 2016 LocalDb is the only component: https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-community
LocalDB 2014 is available here: https://www.microsoft.com/en-us/download/details.aspx?id=42299

[2017-07-20 17:24] ajcvickers commented on #855
@danroth27 @divega This means that any of our templates that use a database may not work if VS is installed on a clean 32-bit machine. However, my feeling is we should probably just call this out in the release notes and have people go install the 32-bit 2014 LocalDb. What do you guys think?

(Thanks @ErikEJ!)

[2017-07-20 17:31] ErikEJ commented on #855
Also make sure that the vsix that installs the template is configured to depend on LocalDB!

[2017-07-21 02:56] danroth27 commented on #855
@mlorbetske @sayedihashimi Is this a regression? Or have the ASP.NET Core auth templates always been broken on 32-bit machines? Can you guys take care of getting this into the appropriate VS release notes? Post 15.3 should we fallback to SQLite on 32-bit machines?

[2017-07-21 17:13] ajcvickers commented on #855
@danroth27 @mlorbetske @sayedihashimi Do we have any numbers on the percentage of people who run Visual Studio on a 32-bit OS?

[2017-07-21 17:49] jkotalik commented on #855
Tested on a fresh Win 8.1 32 bit install. Same results with only a ProjectsV12 database being created.

[2017-07-21 23:03] Rick-Anderson commented on #814
Closing given this is fixed in 2.x

[2017-07-21 23:03] #814 closed, assigned to nobody

[2017-07-23 15:31] RehanSaeed opened #856 "Sharing Common Files Between Templates"
I have a ReadMe.html file which I'd like to share between my project templates. The file is mostly the same for all three templates, except that it contains a few symbols common to all my templates. I'd like to keep one copy of this file and use symbols to define template specific sections.
[code]

I can think of a way this might work without any help from the templating engine: Keep a common copy

[2017-07-28 02:06] Rick-Anderson opened #857 "Templates should use app.UseMvcWithDefaultRoute();"
I recommend the templates use `app.UseMvcWithDefaultRoute();` rather than

[code]

The more complex code is a barrier to entry for new users who don't need this flexibility. Advanced users will have no problem adding the above code when they need it. The code above doesn't make much sense to Razor Pages developers. Recommend this change for all templates but especially for the Razor Pages template

[2017-07-28 23:05] divega commented on #855
@Tratcher showed me today a clean 32 bit Windows VM he had setup with Visual Studio 2017 15.3 Preview 7. Turns out SQL Server LocalDB 2016 shows up as a selected individual component in the VS installer, but accessing the database from the command line with `sqllocaldb I mssqllocaldb` shows that is version 12, i.e. SQL Server 2014.

So from this observation, it seems that Visual Studio falls back

[2017-07-28 23:25] jkotalik commented on #855
I didn't see either Kestrel or IIS launching with msllocaldb on my installation. I tried to call `sqllocaldb s MSSQLLocalDB` and it fails saying it failed to start, while I can start ProjectsV12.

[2017-07-28 23:37] jkotalik commented on #855
However, deleting and rerunning the kestrel instance did create and start mssqllocaldb. IIS failed this again.

[2017-07-30 23:42] divega commented on #855
@jkotalik thanks. Your comment and someone from SQL confirm that when Visual Studio 2017 is installed on a 32 bit machine and the SQL Server LocalDB 2016 component is selected, the SQL Server LocalDB 2014 is installed.

It seems however that SQL Server LocalDB 2014 initial configuration may be incorrect, with registry entries pointing to a “parent instance” of the wrong version, causing it to fail

[2017-07-31 07:03] ErikEJ commented on #855
@divega can you repro IIS Express/Kestrel issue?

[2017-07-31 16:01] Tratcher commented on #855
The following event is logged when this happens:
[code]
This is logged 15 times, once per second.
Nothing is logged to `%LocalAppData%\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb` in this scenario.
Workarounds like `sqllocaldb delete mssqllocaldb` or deleting `%LocalAppData%\Microsoft\Microsoft SQL Server Local DB\Instances\` have not helped.

[2017-07-31 19:20] ErikEJ commented on #855
What are the "wrong" registry keys?

[2017-07-31 19:47] Tratcher commented on #855
Update: This does not repro for an ASP.NET 4 application, but it does repro for an ASP.NET Core app targeting .NET. I think this narrows it down to AspNetCoreModule and how it launches the child process. I'll debug further with @pan-wang

[2017-07-31 20:01] divega commented on #855
@ErikEJ at this point I think I might have conflated a separate issue into this one. I think it must be separate because I am seeing it even in a 64 bit machine with SQL Server LocalDB 2014 and issuing `sqllocaldb delete mssqllocaldb` did help. Anyway, the registry keys are GUID keys under `HKCU\Software\Microsoft\Microsoft SQL Server\UserInstances`. There, `ParentInstance` had a value of `MSSQL13

[2017-08-01 20:07] Rick-Anderson opened #858 "Razor Page templates use fully qualified name"
The constructor uses the FQN when it's not necessary. For example:

See [Pages/Movie/Index.cshtml.cs](https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/razor-pages/razor-pages-start/sample/RazorPagesMovie/Pages/Movie/Index.cshtml.cs#L14-L16)

`using RazorPagesMovie.Models;` is in the template.

To repro - follow the [Razor Pages tutorial](https://docs.microsoft.com/en-us/aspnet/core/

[2017-08-01 22:35] Tratcher commented on #855
Did some debugging with @pan-wang and eliminated ANCM. The issue does not repro when IIS Express is run from the command line, it only repros when run from VS, and again only for ASP.NET Core projects. I'll follow up with @BillHiebert when he gets back to see how the tooling is different.

[2017-08-03 17:30] Tratcher commented on #855
Moving this bug to tooling: https://developercommunity.visualstudio.com/content/problem/89068/unable-to-start-localdb-when-run-from-vs-aspnet-co.html

[2017-08-03 17:30] #855 closed, assigned to Tratcher

[2017-08-03 17:55] mlorbetske commented on #856
This issue was moved to dotnet/templating#1179

[2017-08-03 17:55] #856 closed, assigned to nobody

[2017-08-03 17:56] mlorbetske commented on #857
This issue was moved to dotnet/templating#1180

[2017-08-03 17:56] #857 closed, assigned to nobody

[2017-08-03 17:58] mlorbetske commented on #858
This issue was moved to aspnet/Scaffolding#585

[2017-08-03 17:58] #858 closed, assigned to nobody

[2017-08-03 18:01] mlorbetske commented on #851
These have been fixed in dotnet/templating (where the templates are being built from for the time being)

[2017-08-03 18:01] #851 closed, assigned to nobody

[2017-08-04 23:26] alexavrutin opened #859 "r1"

[2017-08-06 20:02] miloush commented on #642
Well, same issue with ASP.NET Core 2.0 and Visual Studio 2017. This should really be part of the built-in templates.

[2017-08-08 04:05] #859 closed, assigned to nobody

[2017-08-08 20:50] Rick-Anderson opened #860 "Razor Pages scaffolder eats DbUpdateConcurrencyException"
Expected behavior:
Scaffolder should correctly handle `DbUpdateConcurrencyException`

Actual behavior:
`DbUpdateConcurrencyException` is caught and ignored.

To repro:

* Create a RP project and add a model.
* [Scaffold the model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model#add-scaffold-tooling-and-perform-initial-migration)

The *Edit.cshtml.cs* file contains the foll

[2017-08-08 20:59] #860 closed, assigned to nobody

[2017-08-08 23:59] Rick-Anderson opened #861 "Razor Page scaffolder should add `@page "{id:int}"` directive"
The RP scaffolder should add `@page "{id:int}"` directive so generated links pass the ID as route data, not query strings.

[2017-08-09 00:05] #861 closed, assigned to nobody

[2017-08-21 22:05] GoshaFighten opened #863 "Can't compile the devextreme-angular package in the Production mode using the ASP.NET Core 2.0 Angular template"
This issue relates to the [one](https://github.com/DevExpress/devextreme-angular/issues/534). I've created an Angular application using .NET Core 2.0. The issue is reproducible regardless if I use Visual Studio 2017 15.3 or `dotnet new angular`. Everything works fine in the Development mode. But, once I publish my application with the [DevExtreme Angular](https://github.com/DevExpress/devextreme-a

[2017-08-21 22:40] Eilon commented on #863
cc @SteveSandersonMS

[2017-08-21 22:59] SteveSandersonMS commented on #863
@GoshaFighten I see you found the fix as per your post at https://github.com/DevExpress/devextreme-angular/issues/534

@Eilon This is the same issue as https://github.com/aspnet/JavaScriptServices/issues/1168, which is the one we considered including a fix for at the last minute before the 2.0 SDK shipped. It's resolved in our `dev` branch already so will be fixed in the next SDK.

[2017-08-21 22:59] #863 closed, assigned to nobody

[2017-08-23 07:54] Dave3of5 opened #864 "Authentication on SPA apps"
There seems to be no template for authentication on the SPA templates.

I've been looking up various blog post and third party articles on how to add Jwt Authentication but they are scattered and most are for dotnet core 1.1. It would be nice if there was a template that showed the "correct" way to do this in dotnet core 2.0.

[2017-08-23 18:36] pejta2207 opened #865 "Account/ConfirmEmail - NullReferenceException in Error.cshtml when providing incorrect token"
**Description**
The issue is related to Individual Accounts Authentication template. It seems that providing incorrect authentication code for ConfirmEmail action in AccountController (e.g. token which already expired) should result in displaying error page. However, Razor throws an exception while generating the default error view:

[code]

**Steps to reproduce**
1. Create new project with Indivi

[2017-08-24 01:58] brockallen commented on #864
Consider IdentityServer for issuing tokens, and oidc-client for your SPA to obtain tokens.

https://github.com/IdentityServer/IdentityServer4/
https://github.com/IdentityModel/oidc-client-js/

[2017-08-24 08:11] grokky1 commented on #831
@guardrex I read that other looooong issue, and this one, and I still don't get it.

If you want after a logout, to be redirected to "/thanks", then must you do
- `options.LogoutPath = new PathString("/Account/Logout/ReturnUrl=/thanks");`
- or `options.LogoutPath = new PathString("/thanks");`
- or do the redirect manually in the logout action

Even now after release of ASP.NET Core 2.0 there is no

[2017-08-24 08:17] Dave3of5 commented on #864
@brockallen Nice plug ;-) but all the documentation on IdentityServer4 still references version 1.1 and the examples don't seem to work anymore in v2.0.

I also notice this : IdentityServer/IdentityServer4/issues/1055 which is still open so IDS4 for the moment is a no go.

[2017-08-24 13:03] brockallen commented on #864
It's closer than the Microsoft one :)

[2017-08-24 17:41] guardrex commented on #831
@grokky1 I've only been working on docs since March and not on actual enterprise apps. I haven't had to face this issue with an app since we discussed it here; so actually, I don't have additional general advice.

In your case tho, it seems like your option 3 is clean. As you suggest, you can just manually do it in `LogOff` (or `Logout`) by physically setting the `RedirectToAction` to go to your `

[2017-08-24 17:47] guardrex commented on #831
I haven't checked out the new identity stuff (yet!) in 2.0. I do notice tho that they're still doing the same thing with the web starter template: https://github.com/aspnet/Templates/blob/dev/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Controllers/AccountController.cs#L67

[2017-08-25 16:19] danroth27 commented on #831
@blowdart @HaoK to provide guidance

[2017-08-25 17:07] blowdart commented on #831
I like the idea of returning via returnUrl.

[2017-08-30 23:19] elAndyG opened #866 "Cannot update @angular to 4.3.0+ (trying to update to 4.3.6)"
After updating angular to 4.3.6, an internal server error begins to throw "NodeInvocationException: Can't resolve all parameters for HttpXsrfCookieExtractor."

Steps to reproduce:
1. cmd to c:\
2. dotnet --version
_2.0.0_
3. mkdir dummy
4. cd dummy
5. dotnet new angular
6. dotnet restore
7. npm install
8. dotnet run (prove it works)
8a. ctrl+c to stop the server/build
9. update all @angular from "

[2017-08-31 20:47] andrei-ga commented on #866
Same issue here.

[2017-09-01 13:24] coreea08 commented on #866
Same issue here

[2017-09-01 13:28] dobrinsky commented on #866
Same issue here...

This error also appears if you try to install ngx-translate or ngx2-translate.

I also wrote on stackoverflow.

https://stackoverflow.com/questions/45864623/prerendering-failed-because-of-error-error-module-build-failed-error-enoent

It is a little more complex, but it gets me to the same spot.

I have a repository here: https://github.com/dobrinsky/AngularDefault

as soon as I

[2017-09-01 15:12] Trapulo commented on #866
same issue

[2017-09-01 19:31] elAndyG commented on #866
So i may have found the [answer](https://blogs.msdn.microsoft.com/webdev/2017/02/14/building-single-page-applications-on-asp-net-core-with-javascriptservices/)... Whenyou update your stuff, you need to repack your code...

[code]

if you are unable to do this on the command line, you need to[ install the webpack](https://webpack.js.org/guides/installation/) package globally

`npm install --global

[2017-09-02 11:08] andrei-ga commented on #866
For me it worked with the following package.json dependencies:
[code]
and the following modules in webpack.config.vendor.js
[code]

Then I had to run webpack build with
`webpack --config webpack.config.vendor.js`

then clean project and run it again

_(note that I use angular material 2. you might not want it)_

Note that SPA template from asp.net core 2 uses npm-shrinkwrap.json file for packages

[2017-09-04 12:04] dobrinsky commented on #866
Andrei, your solution solved my problem.

Thank you very much!

[2017-09-07 08:13] marcusien opened #867 "Cannot force version of the template to install"
Hi,

Maybe there's something not documented but I'd like to install a version of my own template in a specific version.

We are creating our own template for our project and we create prerelease packages for our template using semver. The problem is with "dotnet new -i" command, we cannot specify a specific version

[2017-09-07 12:16] SteveSandersonMS commented on #866
Glad you figured it out. For anyone else reading, it's just a matter of rebuilding fully (with `webpack --config webpack.config.vendor.js`).

[2017-09-07 12:16] #866 closed, assigned to nobody

[2017-09-27 14:32] joeaudette opened #868 "IEmailSender should have explicitly named parameters for html vs plain text"
There have been a number of people reporting bugs about the email confirmation link in the StarterWeb template not working.

This is happening because people implement IEmailSender and don't realize that the message being passed in is html. When they send the email as plain text the confirmation link does not work because of the url encoding.

I think the "message" parameter of SendEmailAsync shou

[2017-10-03 23:56] Rick-Anderson opened #869 "QR Codes should be supported in templates"
[Enabling QR Code generation for authenticator apps](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes)

That should be supported in the templates like [SMS 2FA](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa) used to be.

requested by customer in [Enabling QR Code generation for authenticator apps](https://docs.microsoft.com/en-

[2017-10-04 00:00] #869 closed, assigned to nobody

[2017-10-04 00:00] Rick-Anderson commented on #869
moved to https://github.com/aspnet/templating/issues/44

[2017-10-11 01:06] PeterWone commented on #864
@brockallen I've used (or more accurately used, misused and abused) Identity Server with Durandal. That I liked it does not change the fact that it requires a level of understanding on the part of the developer that isn't widespread. This stuff needs to be baked into the template (a) to make it ubiquitous (b) to make implementation consistent (c) to prevent incompetent implementation which is wors

[2017-10-11 04:00] brockallen commented on #864
Security requires a level of understanding on part of the developer. Sorry.

And FWIW, IdentityServer4 has been released for ASP.NET Core 2.

[2017-10-13 19:22] jkotalik opened #871 "Add HttpsRedirection and HSTS middleware template"
With https://github.com/aspnet/BasicMiddleware/pull/264 being added, @Eilon asked me to write templates for this feature.
cc/ @javiercn @Tratcher

[2017-10-13 19:24] Tratcher commented on #871
We need to make sure Kestrel is set up for https first.

[2017-10-13 20:09] Eilon commented on #871
This issue was moved to aspnet/templating#66

[2017-10-13 20:09] #871 closed, assigned to jkotalik

[2017-10-17 12:58] tverboon opened #872 "Unnecessary User.Id provided in password reset link?"
The user Id is provided in the callback link:

https://github.com/aspnet/Templates/blob/f237bb024e1c8f05a7d78c215be2224022d2c153/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Controllers/AccountController.cs#L424

But in the controller action only code is used:
https://github.com/aspnet/Templates/blob/f237bb024e1c8f05a7d78c215be2224022d2c153/template_feed/Micros

[2017-10-21 00:03] #872 closed, assigned to nobody

[2017-10-24 00:04] ezeasharma opened #874 "The project file could not be loaded for csproj"
I migrated my .netcore 1.1 proj to 2.0 using this link https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/

but when i perform "dotnet restore -v d" i get the following error:

[code]

Here is the output for dotnet --info

[code]

This is my csproj file
[code]

[2017-10-24 16:35] Eilon opened #875 "This repo is OBSOLETE - please see the README file for information"
Please refer to the README at https://github.com/aspnet/Templates for information.

[2017-10-24 16:36] Eilon commented on #868
This issue was moved to aspnet/templating#79

[2017-10-24 16:36] #868 closed, assigned to nobody

[2017-10-24 16:36] Eilon commented on #865
This issue was moved to aspnet/templating#80

[2017-10-24 16:36] #865 closed, assigned to nobody

[2017-10-24 16:36] Eilon commented on #864
This issue was moved to aspnet/templating#81

[2017-10-24 16:36] #864 closed, assigned to nobody

[2017-10-24 16:37] Eilon commented on #847
This issue was moved to aspnet/templating#83

[2017-10-24 16:37] #847 closed, assigned to nobody

[2017-10-24 16:37] Eilon commented on #843
This issue was moved to aspnet/templating#84

[2017-10-24 16:37] #843 closed, assigned to phenning

[2017-10-24 16:37] Eilon commented on #840
This issue was moved to aspnet/templating#85

[2017-10-24 16:37] #840 closed, assigned to seancpeters

[2017-10-24 16:38] Eilon commented on #837
This issue was moved to aspnet/templating#86

[2017-10-24 16:38] #837 closed, assigned to nobody

[2017-10-24 16:38] Eilon commented on #833
This issue was moved to aspnet/templating#87

[2017-10-24 16:38] #833 closed, assigned to nobody

[2017-10-24 16:38] Eilon commented on #831
This issue was moved to aspnet/templating#88

[2017-10-24 16:38] #831 closed, assigned to mlorbetske, phenning

[2017-10-24 16:39] Eilon commented on #835
This issue was moved to aspnet/templating#89

[2017-10-24 16:39] #835 closed, assigned to nobody

[2017-10-24 19:00] ezeasharma commented on #874
Turned out there were some special characters in the file which are not visible in VSCode. When i opened the file on Vim, it showed some unwanted characters....deleting those fixed the issue

[2017-10-24 19:00] #874 closed, assigned to nobody

[2017-10-24 21:34] Eilon commented on #813
This issue was moved to aspnet/templating#92

[2017-10-24 21:34] #813 closed, assigned to nobody

[2017-10-24 21:35] Eilon commented on #827
This issue was moved to aspnet/templating#93

[2017-10-24 21:35] #827 closed, assigned to phenning

[2017-10-24 21:35] Eilon commented on #824
This issue was moved to aspnet/templating#94

[2017-10-24 21:35] #824 closed, assigned to nobody

[2017-10-24 21:35] Eilon commented on #808
This issue was moved to aspnet/templating#95

[2017-10-24 21:35] #808 closed, assigned to nobody

[2017-10-24 21:36] Eilon commented on #804
This issue was moved to aspnet/templating#96

[2017-10-24 21:36] #804 closed, assigned to nobody

[2017-10-24 21:37] Eilon commented on #797
This issue was moved to aspnet/templating#97

[2017-10-24 21:37] #797 closed, assigned to nobody

[2017-10-24 21:37] Eilon commented on #793
This issue was moved to aspnet/templating#98

[2017-10-24 21:37] #793 closed, assigned to nobody

[2017-10-24 21:37] Eilon commented on #786
This issue was moved to aspnet/templating#99

[2017-10-24 21:37] #786 closed, assigned to nobody

[2017-10-24 21:37] Eilon commented on #771
This issue was moved to aspnet/templating#100

[2017-10-24 21:37] #771 closed, assigned to nobody

[2017-10-24 21:38] Eilon commented on #723
This issue was moved to aspnet/templating#101

[2017-10-24 21:38] #723 closed, assigned to phenning, seancpeters

[2017-10-24 21:38] Eilon commented on #690
This issue was moved to aspnet/templating#102

[2017-10-24 21:38] #690 closed, assigned to nobody

[2017-10-24 21:43] Eilon commented on #686
This issue was moved to aspnet/templating#103

[2017-10-24 21:43] #686 closed, assigned to phenning

[2017-10-24 21:43] Eilon commented on #675
This issue was moved to aspnet/templating#104

[2017-10-24 21:43] #675 closed, assigned to sayedihashimi

[2017-10-24 21:43] Eilon commented on #642
This issue was moved to aspnet/templating#105

[2017-10-24 21:43] #642 closed, assigned to madskristensen

[2017-10-24 21:44] Eilon commented on #626
This issue was moved to aspnet/templating#106

[2017-10-24 21:44] #626 closed, assigned to nobody

[2017-10-24 21:46] Eilon commented on #278
Closing because we're not using Bower anymore anyway.

[2017-10-24 21:46] #278 closed, assigned to nobody

[2017-10-24 21:46] Eilon commented on #249
This issue was moved to aspnet/templating#107

[2017-10-24 21:46] #249 closed, assigned to nobody

[2017-10-24 21:48] Eilon commented on #242
This issue was moved to aspnet/templating#108

[2017-10-24 21:48] #242 closed, assigned to nobody

[2017-10-24 21:48] Eilon commented on #234
This issue was moved to aspnet/templating#109

[2017-10-24 21:48] #234 closed, assigned to nobody

[2017-10-24 21:49] Eilon commented on #201
This issue was moved to aspnet/templating#110

[2017-10-24 21:49] #201 closed

[2017-10-24 21:49] Eilon commented on #620
This issue was moved to aspnet/templating#111

[2017-10-24 21:49] #620 closed, assigned to nobody

[2017-10-24 21:49] Eilon commented on #588
This issue was moved to aspnet/templating#112

[2017-10-24 21:49] #588 closed, assigned to sayedihashimi

[2017-10-24 21:50] Eilon commented on #585
This issue was moved to aspnet/templating#113

[2017-10-24 21:50] #585 closed, assigned to nobody

[2017-10-24 21:50] Eilon commented on #573
This issue was moved to aspnet/templating#114

[2017-10-24 21:50] #573 closed, assigned to nobody

[2017-10-24 21:51] Eilon commented on #551
This issue was moved to aspnet/templating#115

[2017-10-24 21:51] #551 closed, assigned to nobody

[2017-10-24 21:51] Eilon commented on #543
Closing because this doesn't apply anymore.

[2017-10-24 21:51] #543 closed, assigned to nobody

[2017-10-24 21:52] Eilon commented on #541
This was done a while ago.

[2017-10-24 21:52] #541 closed, assigned to nobody

[2017-10-24 21:52] Eilon commented on #538
This issue was moved to aspnet/templating#116

[2017-10-24 21:52] #538 closed, assigned to nobody

[2017-10-24 21:53] Eilon commented on #492
This issue was moved to aspnet/templating#117

[2017-10-24 21:53] #492 closed, assigned to sayedihashimi

[2017-10-24 21:53] Eilon commented on #490
This issue was moved to aspnet/templating#118

[2017-10-24 21:53] #490 closed, assigned to nobody

[2017-10-24 21:53] Eilon commented on #451
This issue was moved to aspnet/templating#119

[2017-10-24 21:53] #451 closed, assigned to sayedihashimi

[2017-10-24 21:53] Eilon commented on #444
This issue was moved to aspnet/templating#120

[2017-10-24 21:53] #444 closed, assigned to nobody

[2017-10-24 21:53] Eilon commented on #423
This issue was moved to aspnet/templating#121

[2017-10-24 21:53] #423 closed, assigned to sayedihashimi

[2017-10-24 21:53] Eilon commented on #406
This issue was moved to aspnet/templating#122

[2017-10-24 21:53] #406 closed, assigned to nobody

[2017-10-24 21:53] Eilon commented on #382
This issue was moved to aspnet/templating#123

[2017-10-24 21:53] #382 closed, assigned to phenning

[2017-10-24 21:54] Eilon commented on #365
This issue was moved to aspnet/templating#124

[2017-10-24 21:54] #365 closed, assigned to nobody

[2017-10-24 21:54] Eilon commented on #365
This issue was moved to aspnet/templating#125

[2017-10-24 21:55] Eilon commented on #137
Closing because there are several SPA templates built-in as of .NET Core 2.0.

[2017-10-24 21:55] #137 closed

[2017-10-24 21:55] Eilon commented on #120
Closing because most of this is no longer applicable.

[2017-10-24 21:55] #120 closed

[2017-10-24 21:56] Eilon commented on #104
This issue was moved to aspnet/templating#126

[2017-10-24 21:56] #104 closed

[2017-10-24 21:57] Eilon commented on #115
Closing because there are no plans to implement this.

[2017-10-24 21:57] #115 closed

[2017-10-24 21:58] Eilon commented on #86
Much of this will be changed significantly in the 2.1 release, so closing this issue.

[2017-10-24 21:58] #86 closed

[2017-10-24 22:00] Eilon commented on #67
Moved to https://github.com/aspnet/templating/issues/127

[2017-10-24 22:00] #67 closed

[2017-11-15 20:38] GoshaFighten commented on #863
I installed .NET Core `2.0.3` and I can confirm that now my project is built with no errors. Thank you, @SteveSandersonMS !

[2018-06-17 06:05] zoidhddhdd opened #876 "EADME"
This repo is OBSOLETE - please see the README file for information
![01134d87a8218ca4a92147e6b3063fbbb394d975e1](https://user-images.githubusercontent.com/39866902/41505199-1db96088-720c-11e8-92f2-4e236659aefa.jpg)

[2018-09-20 20:23] aspnet-hello commented on #867
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:23] #867 closed, assigned to nobody

[2018-09-20 20:23] aspnet-hello commented on #850
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:23] #850 closed, assigned to nobody

[2018-09-20 20:23] aspnet-hello commented on #839
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:23] #839 closed, assigned to nobody

[2018-09-20 20:24] aspnet-hello commented on #768
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:24] #768 closed, assigned to nobody

[2018-09-20 20:24] aspnet-hello commented on #766
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:24] #766 closed, assigned to nobody

[2018-09-20 20:24] aspnet-hello commented on #710
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:24] #710 closed, assigned to nobody

[2018-09-20 20:24] aspnet-hello commented on #700
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:24] #700 closed, assigned to sayedihashimi

[2018-09-20 20:24] aspnet-hello commented on #650
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:24] #650 closed, assigned to nobody

[2018-09-20 20:24] aspnet-hello commented on #648
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:24] #648 closed, assigned to sayedihashimi

[2018-09-20 20:25] aspnet-hello commented on #647
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #647 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #623
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #623 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #556
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #556 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #549
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #549 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #528
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #528 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #527
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #527 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #517
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #517 closed, assigned to nobody

[2018-09-20 20:25] aspnet-hello commented on #498
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:25] #498 closed, assigned to sayedihashimi

[2018-09-20 20:26] aspnet-hello commented on #464
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #464 closed, assigned to sayedihashimi

[2018-09-20 20:26] aspnet-hello commented on #459
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #459 closed, assigned to sayedihashimi

[2018-09-20 20:26] aspnet-hello commented on #443
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #443 closed, assigned to nobody

[2018-09-20 20:26] aspnet-hello commented on #441
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #441 closed, assigned to sayedihashimi

[2018-09-20 20:26] aspnet-hello commented on #422
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #422 closed, assigned to sayedihashimi

[2018-09-20 20:26] aspnet-hello commented on #321
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #321 closed, assigned to nobody

[2018-09-20 20:26] aspnet-hello commented on #309
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #309 closed, assigned to nobody

[2018-09-20 20:26] aspnet-hello commented on #226
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:26] #226 closed, assigned to nobody

[2018-09-20 20:27] aspnet-hello commented on #204
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:27] #204 closed

[2018-09-20 20:27] aspnet-hello commented on #167
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:27] #167 closed

[2018-09-20 20:27] aspnet-hello commented on #166
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:27] #166 closed

[2018-09-20 20:27] aspnet-hello commented on #32
All issues in this repo are being closed because this repo is no longer in use. Please see the readme for more information: https://github.com/aspnet/Templates/blob/dev/README.md.

[2018-09-20 20:27] #32 closed